### ETL Process using Pandas

In [1]:
import pandas as pd
import requests
import warnings
from sqlalchemy import create_engine
warnings.filterwarnings('ignore')
from config import DATABASE_URI
import scrape_data
import get_api_data
import numpy as np

### Data Extraction of Restaurants and Pizzas

**Importing all libraries**

In [2]:
# Reading the csv into pandas
file_path = "../Resources/Datafiniti_Pizza_Restaurants_and_the_Pizza_They_Sell_May19.csv"
pizza_data_raw = pd.read_csv(file_path)

In [3]:
# Reviewing the pandas dataframe
pizza_data_raw.head(5)

,id,dateAdded,dateUpdated,address,categories,primaryCategories,city,country,keys,latitude,...,menus.currency,menus.dateSeen,menus.description,menus.name,name,postalCode,priceRangeCurrency,priceRangeMin,priceRangeMax,province
0,AVz3Y-7h3D1zeR_xDAqm,2017-06-30T05:05:40Z,2019-05-01T15:43:09Z,4203 E Kiehl Ave,"Pizza,Restaurant,American restaurants,Pizza Pl...",Accommodation & Food Services,Sherwood,US,us/ar/sherwood/4203ekiehlave/-1051391616,34.832300,...,USD,"2018-05-01T04:25:37.197Z,2018-04-16T04:36:02.3...",NaN,Cheese Pizza,Shotgun Dans Pizza,72120,USD,0,25,AR
1,AVweGPFF_7pvs4fzAAzQ,2016-04-02T04:02:49Z,2019-05-01T15:27:50Z,25 E Camelback Rd,"Pizza,Pizza Place,Restaurants",Accommodation & Food Services,Phoenix,US,us/az/phoenix/25ecamelbackrd/-727422936,33.509266,...,USD,"2018-03-03T02:38:06.381Z,2018-01-18T20:18:10.0...",NaN,Pizza Cookie,Sauce Pizza Wine,85012,USD,0,25,AZ
2,AVwdRGa9_7pvs4fz4E3K,2016-03-03T18:39:49Z,2019-05-01T12:52:25Z,3703 Paxton Ave,"Restaurant,Pizza Place,Restaurants",Accommodation & Food Services,Cincinnati,US,us/oh/cincinnati/3703paxtonave/-619797122,39.144883,...,USD,"2018-04-10T07:58:34.585Z,2018-04-21T05:43:21.4...",a saucelessampcomma double cheese pizza with a...,Pizza Blanca,Mios Pizzeria,45209,USD,0,25,OH
3,AVwdX4psIN2L1WUfvJB1,2016-03-29T05:08:59Z,2019-05-01T12:52:20Z,30495 John R Rd,"Pizza,Carry-out food,Pizza Place,Restaurants",Accommodation & Food Services,Madison Heights,US,us/mi/madisonheights/30495johnrrd/-874863116,42.516669,...,USD,"2016-10-20T21:50:02Z,2016-03-29T05:08:59Z",NaN,Small Pizza,Hungry Howies Pizza,48071,USD,25,40,MI
4,AVwdaeTtkufWRAb55pSH,2016-03-31T02:34:04Z,2019-05-01T12:50:45Z,3600 Eastern Ave,"Pizza,American restaurants,Pizza Place,Pizza e...",Accommodation & Food Services,Baltimore,US,us/md/baltimore/3600easternave/-1270965359,39.286630,...,USD,2016-03-31T02:34:04Z,NaN,Pizza Sub,Spartan Pizzeria,21224,USD,0,25,MD

In [4]:
# viewing raw meta_data and dimension of the data set
print(pizza_data_raw.info())
print(pizza_data_raw.shape)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 24 columns):
id                    10000 non-null object
dateAdded             10000 non-null object
dateUpdated           10000 non-null object
address               10000 non-null object
categories            10000 non-null object
primaryCategories     10000 non-null object
city                  10000 non-null object
country               10000 non-null object
keys                  10000 non-null object
latitude              10000 non-null float64
longitude             10000 non-null float64
menuPageURL           1679 non-null object
menus.amountMax       10000 non-null float64
menus.amountMin       10000 non-null float64
menus.currency        10000 non-null object
menus.dateSeen        10000 non-null object
menus.description     3718 non-null object
menus.name            10000 non-null object
name                  10000 non-null object
postalCode            9996 non-null object
priceRangeCurrency    10000 non-null object
priceRangeMin         10000 non-null int64
priceRangeMax         10000 non-null int64
province              10000 non-null object
dtypes: float64(4), int64(2), object(18)
memory usage: 1.8+ MB
None
(10000, 24)

In [5]:
# viewing columns of the data set
pizza_data_raw.columns

Index(['id', 'dateAdded', 'dateUpdated', 'address', 'categories',
       'primaryCategories', 'city', 'country', 'keys', 'latitude', 'longitude',
       'menuPageURL', 'menus.amountMax', 'menus.amountMin', 'menus.currency',
       'menus.dateSeen', 'menus.description', 'menus.name', 'name',
       'postalCode', 'priceRangeCurrency', 'priceRangeMin', 'priceRangeMax',
       'province'],
      dtype='object')

The type possible questions we are trying to analyze using this dataset are?

_1)How many different types of pizzas are available?_

_2)How many pizza restaurants are available?_

_3)Which is the cheapest type of pizza sold?_

_4)Which is the most expensive pizza sold?_

_5)which provice has the maximum number of pizza restaurants?_

_6)Which city has the maximum number of restaurants?_

_7)Which is the cheapest and most expesive province for pizza?_

_8)Which is the cheapest and most expensive city for pizza?_

_9)Which is the most popular and leasr popular pizza?_

_10)Which all restaurant offer vegg pizzas based on description?_

_11)Which all categories of pizzas's are popular?_

_12)Which days of the week certains pizzas's are availabe?_

_13)Are any of restaurants identified as best restaurants of the state?_

_14)Any correlation between between rating found between restaurants of every state against other restaurants of the same state?_

**In order to answer the above questions, folowing columns will be selected**

**id, address, city, address, postalcode, country, latitude, longitude, menus.amountMax, menus.amountMin, menus.name, menus.dateSeen, menus.description,  province**

Note: Amount is in USD.
      This dataset peratins to pizza locations from USA only.

### Data Extraction of Pizza's that are sold by Restaurants across USA.

### Data Cleaning

In [6]:
# Removing un-necessary columns
pizza_data_transformed = pizza_data_raw[['id', 'address', 'categories', 'city', 'postalCode', 'latitude', 'longitude', 'menus.amountMax', 'menus.amountMin', 'menus.name', 'menus.description', 'menus.dateSeen','province']]
pizza_data_transformed.head()

,id,address,categories,city,postalCode,latitude,longitude,menus.amountMax,menus.amountMin,menus.name,menus.description,menus.dateSeen,province
0,AVz3Y-7h3D1zeR_xDAqm,4203 E Kiehl Ave,"Pizza,Restaurant,American restaurants,Pizza Pl...",Sherwood,72120,34.832300,-92.183800,7.98,7.98,Cheese Pizza,NaN,"2018-05-01T04:25:37.197Z,2018-04-16T04:36:02.3...",AR
1,AVweGPFF_7pvs4fzAAzQ,25 E Camelback Rd,"Pizza,Pizza Place,Restaurants",Phoenix,85012,33.509266,-112.073044,6.00,6.00,Pizza Cookie,NaN,"2018-03-03T02:38:06.381Z,2018-01-18T20:18:10.0...",AZ
2,AVwdRGa9_7pvs4fz4E3K,3703 Paxton Ave,"Restaurant,Pizza Place,Restaurants",Cincinnati,45209,39.144883,-84.432685,6.49,6.49,Pizza Blanca,a saucelessampcomma double cheese pizza with a...,"2018-04-10T07:58:34.585Z,2018-04-21T05:43:21.4...",OH
3,AVwdX4psIN2L1WUfvJB1,30495 John R Rd,"Pizza,Carry-out food,Pizza Place,Restaurants",Madison Heights,48071,42.516669,-83.106630,5.99,5.99,Small Pizza,NaN,"2016-10-20T21:50:02Z,2016-03-29T05:08:59Z",MI
4,AVwdaeTtkufWRAb55pSH,3600 Eastern Ave,"Pizza,American restaurants,Pizza Place,Pizza e...",Baltimore,21224,39.286630,-76.566984,5.49,5.49,Pizza Sub,NaN,2016-03-31T02:34:04Z,MD

In [11]:
# Checking the agrregate values for min and max menu amount for pizza stores
aggregations = { 'menus.amountMax' : ["mean" ,"median",  "std" , "max" , "min"],
                'menus.amountMin' : ["mean", "median", "std" , "max" , "min"] }
pizza_data_transformed.groupby('id').agg(aggregations)

                     menus.amountMax                                  \
                                mean  median       std    max    min
id
AV0BBqimLD2H7whiYWKZ       15.000000  15.000  2.828427  17.00  13.00
AV0BCLdu-gnIPe8DUvU5        7.500000   7.500       NaN   7.50   7.50
AV0BH9GWFcQ3k02bDmLF       12.365000  12.365  3.712311  14.99   9.74
AV0H5evu3D1zeR_xDOVo        8.950000   8.950       NaN   8.95   8.95
AV0HOMEC3D1zeR_xDOLw       10.904286   9.990  4.983783  21.99   7.59
...                              ...     ...       ...    ...    ...
AWIMWzSwa4HuVbedO3SQ       11.750000  11.750  8.131728  17.50   6.00
AWIaO0F1a4HuVbedO4te        7.990000   7.990       NaN   7.99   7.99
AWLTf5x7a4HuVbedPhcd       14.000000  14.000       NaN  14.00  14.00
AWM7PB2fa4HuVbedQAtn        9.950000   9.950       NaN   9.95   9.95
AWMaIedy3-Khe5l_iAhu        9.750000  10.000  3.774917  14.00   5.00

                     menus.amountMin
                                mean  median       std    max    min
id
AV0BBqimLD2H7whiYWKZ       15.000000  15.000  2.828427  17.00  13.00
AV0BCLdu-gnIPe8DUvU5        7.500000   7.500       NaN   7.50   7.50
AV0BH9GWFcQ3k02bDmLF       12.365000  12.365  3.712311  14.99   9.74
AV0H5evu3D1zeR_xDOVo        8.950000   8.950       NaN   8.95   8.95
AV0HOMEC3D1zeR_xDOLw       10.904286   9.990  4.983783  21.99   7.59
...                              ...     ...       ...    ...    ...
AWIMWzSwa4HuVbedO3SQ       11.750000  11.750  8.131728  17.50   6.00
AWIaO0F1a4HuVbedO4te        7.990000   7.990       NaN   7.99   7.99
AWLTf5x7a4HuVbedPhcd       14.000000  14.000       NaN  14.00  14.00
AWM7PB2fa4HuVbedQAtn        9.950000   9.950       NaN   9.95   9.95
AWMaIedy3-Khe5l_iAhu        9.750000  10.000  3.774917  14.00   5.00

[2285 rows x 10 columns]

In [14]:
# Checking descriptive stats info on the data

pizza_data_transformed.describe()

           latitude     longitude  menus.amountMax  menus.amountMin
count  10000.000000  10000.000000     10000.000000     10000.000000
mean      38.371895    -90.063800        14.032670        13.416902
std        4.573537     17.340379        17.607233        10.742678
min       21.421326   -157.802443         0.000000         0.000000
25%       34.422946   -104.801126         8.490000         8.000000
50%       40.118880    -82.909949        13.390000        12.990000
75%       40.905048    -75.194741        17.950000        16.990000
max       64.850500    -71.946170      1395.000000       243.000000

### Handling Outliers

In [15]:
# Based on the above data, will treat any amount above 50$ as outliers for maximum menu amount min menu amout
# and 0 as an outlier for minimum menu amout as it doesn't make sense for pizza menu amount to be zero in the menu.
# This is not transactional data but the details in the menu and so replacing the said outliers with mean values.
# Changing menus maximum amount
mean_amount_max = np.mean(pizza_data_transformed['menus.amountMax'])
pizza_data_transformed['menus.amountMax'] = pizza_data_transformed['menus.amountMax'].apply(lambda x:  mean_amount_max if x > 50 else x )
# Changing menu minimum amount
mean_amount_min = np.mean(pizza_data_transformed['menus.amountMin'])

pizza_data_transformed['menus.amountMin'] = pizza_data_transformed['menus.amountMin'].apply(lambda x: mean_amount_min if x == 0 else x)
pizza_data_transformed['menus.amountMin'] = pizza_data_transformed['menus.amountMin'].apply(lambda x: mean_amount_min if x > 50 else x)

In [16]:
# Checking descriptive stats info on the data again

pizza_data_transformed.describe()

           latitude     longitude  menus.amountMax  menus.amountMin
count  10000.000000  10000.000000     10000.000000     10000.000000
mean      38.371895    -90.063800        13.395157        12.986676
std        4.573537     17.340379         6.620354         6.365608
min       21.421326   -157.802443         0.000000         0.250000
25%       34.422946   -104.801126         8.490000         8.247500
50%       40.118880    -82.909949        13.390000        12.990000
75%       40.905048    -75.194741        17.892500        16.950000
max       64.850500    -71.946170        49.990000        49.990000

In [17]:
# checking the na detailes within the columns
pizza_data_transformed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 13 columns):
id                   10000 non-null object
address              10000 non-null object
categories           10000 non-null object
city                 10000 non-null object
postalCode           9996 non-null object
latitude             10000 non-null float64
longitude            10000 non-null float64
menus.amountMax      10000 non-null float64
menus.amountMin      10000 non-null float64
menus.name           10000 non-null object
menus.description    3718 non-null object
menus.dateSeen       10000 non-null object
province             10000 non-null object
dtypes: float64(4), object(9)
memory usage: 1015.8+ KB

In [18]:
# menus.description    3718 non-null object. Removing all records that have NaN values in menus.description.
pizza_data_transformed = pizza_data_transformed.dropna()
pizza_data_transformed.reset_index(drop=True, inplace=True)
pizza_data_transformed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3717 entries, 0 to 3716
Data columns (total 13 columns):
id                   3717 non-null object
address              3717 non-null object
categories           3717 non-null object
city                 3717 non-null object
postalCode           3717 non-null object
latitude             3717 non-null float64
longitude            3717 non-null float64
menus.amountMax      3717 non-null float64
menus.amountMin      3717 non-null float64
menus.name           3717 non-null object
menus.description    3717 non-null object
menus.dateSeen       3717 non-null object
province             3717 non-null object
dtypes: float64(4), object(9)
memory usage: 377.6+ KB

In [19]:
pizza_data_transformed.head(1)

,id,address,categories,city,postalCode,latitude,longitude,menus.amountMax,menus.amountMin,menus.name,menus.description,menus.dateSeen,province
0,AVwdRGa9_7pvs4fz4E3K,3703 Paxton Ave,"Restaurant,Pizza Place,Restaurants",Cincinnati,45209,39.144883,-84.432685,6.49,6.49,Pizza Blanca,a saucelessampcomma double cheese pizza with a...,"2018-04-10T07:58:34.585Z,2018-04-21T05:43:21.4...",OH

In [20]:
# Capitalizing menus.description column.
pizza_data_transformed['menus.description'] = pizza_data_transformed['menus.description'].apply(lambda x: x.capitalize())
pizza_data_transformed['menus.description'][1]

'Prosciutto arugula and shaved parmesan drizzled with balsamic glaze'

In [21]:
# Converting the case of the menus.name column to Title case.
pizza_data_transformed['menus.name'] = pizza_data_transformed['menus.name'].apply(lambda x : x.title())
pizza_data_transformed['menus.name'].value_counts().sort_values(ascending=False)[:5]

White Pizza          50
Margherita Pizza     49
Bbq Chicken Pizza    49
Hawaiian Pizza       47
Veggie Pizza         39
Name: menus.name, dtype: int64

In [22]:
# Removing duplicated rows
pizza_data_transformed = pizza_data_transformed.drop_duplicates(keep='last')

In [23]:
# Checking for duplicated rows
pizza_data_transformed[pizza_data_transformed.duplicated()].count()
pizza_data_transformed['id'].value_counts()[:5]

AVweE6g9kufWRAb5_ykR    51
AVwcw735IN2L1WUfoo1p    44
AVzBGRKZFcQ3k02bBecq    40
AVzBBC1w3D1zeR_xBEbJ    39
AVzA1eJAFcQ3k02bBXX0    39
Name: id, dtype: int64

### Data Transforming Restaurant Data

In [24]:
# Separating pizza_data and restaurant data into separate data frames
restaurant_transformed = pizza_data_transformed[['id','address', 'postalCode', 'latitude', 'longitude', 'city','province', 'categories']].drop_duplicates('id', keep='last').reset_index(drop=True)
restaurant_transformed.head()

,id,address,postalCode,latitude,longitude,city,province,categories
0,AVwdRGa9_7pvs4fz4E3K,3703 Paxton Ave,45209,39.144883,-84.432685,Cincinnati,OH,"Restaurant,Pizza Place,Restaurants"
1,AVwchRVZkufWRAb5wDIV,4061 28th St SE,49512,42.912878,-85.566939,Grand Rapids,MI,"Restaurant,Italian Restaurant,Pizza Place,Ital..."
2,AVwc7s1wIN2L1WUfqehD,146 N Glendora Ave,91741,34.137502,-117.865331,Glendora,CA,"Pizza,Restaurant,Pizza Place"
3,AVwc2xOokufWRAb5zu4_,965 N Resler Dr,79912,31.862409,-106.558431,El Paso,TX,"Restaurant,Pizza Place,Restaurants"
4,AVwdixeC_7pvs4fz67Pw,1584 N Woodland Blvd,32720,29.046703,-81.303817,DeLand,FL,"Restaurant,Pizza Place,Restaurants"

In [25]:
# Writing transformed restaurant data to a csv
restaurant_transformed = restaurant_transformed.rename(columns={'postalCode': 'zip_code', 'province': 'state'})
restaurant_transformed.head()

,id,address,zip_code,latitude,longitude,city,state,categories
0,AVwdRGa9_7pvs4fz4E3K,3703 Paxton Ave,45209,39.144883,-84.432685,Cincinnati,OH,"Restaurant,Pizza Place,Restaurants"
1,AVwchRVZkufWRAb5wDIV,4061 28th St SE,49512,42.912878,-85.566939,Grand Rapids,MI,"Restaurant,Italian Restaurant,Pizza Place,Ital..."
2,AVwc7s1wIN2L1WUfqehD,146 N Glendora Ave,91741,34.137502,-117.865331,Glendora,CA,"Pizza,Restaurant,Pizza Place"
3,AVwc2xOokufWRAb5zu4_,965 N Resler Dr,79912,31.862409,-106.558431,El Paso,TX,"Restaurant,Pizza Place,Restaurants"
4,AVwdixeC_7pvs4fz67Pw,1584 N Woodland Blvd,32720,29.046703,-81.303817,DeLand,FL,"Restaurant,Pizza Place,Restaurants"

In [26]:
# Writing the transformed data to a csv
restaurant_transformed.to_csv("../Resources/restaurant.csv", index=False)

**Gathering additiona information from Google API for restaurant data**

In [27]:
# collecting data from google api
restaurant_transformed = get_api_data.get_from_api()

Address: 3703 Paxton Ave, Cincinnati, OH 45209, USA Name: Mio's Pizzeria Rating: 3.7 Price Level: 2
------------
Address: 4061 28th St SE, Grand Rapids, MI 49512, USA Name: Buddy's Pizza Rating: 4.4 Price Level: 2
------------
Address: 965 N Resler Dr, El Paso, TX 79912, USA Name: Little Caesars Pizza Rating: 3.4 Price Level: 1
------------
Missing field/result... skipping.
Address: 1477 York Ave, New York, NY 10075, USA Name: Salvo's Pizzabar Rating: 4.4 Price Level: 1
------------
Address: 786 Main St, Poughkeepsie, NY 12603, USA Name: Tony's Pizza Pit Rating: 3.6 Price Level: 1
------------
Address: 1612 Franklin St, Michigan City, IN 46360, USA Name: Albano's Villa Rating: 4.3 Price Level: 2
------------
Address: 2300 Muscatine Ave, Iowa City, IA 52240, USA Name: Papa Murphy's Take 'N' Bake Pizza Rating: 4.5 Price Level: 1
------------
Address: 9705 Mintworth Ave, Charlotte, NC 28227, USA Name: Angela's Pizza & Restaurant Rating: 4.4 Price Level: 2
------------
Missing field/result... skipping.
Address: 321 W San Francisco St, Santa Fe, NM 87501, USA Name: Il Vicino Wood Oven Pizza - Santa Fe Rating: 4.5 Price Level: 2
------------
Address: 329 Massachusetts Ave, Indianapolis, IN 46204, USA Name: Bazbeaux Rating: 4.5 Price Level: 2
------------
Address: 829 N Douglas St, El Segundo, CA 90245, USA Name: il Romanista Rating: 4.6 Price Level: 1
------------
Address: 829 N Douglas St, El Segundo, CA 90245, USA Name: Zpizza Rating: 3.6 Price Level: 1
------------
Address: 1124 W Elizabeth St, Fort Collins, CO 80521, USA Name: Krazy Karl's Pizza and Sport Bar Rating: 4.4 Price Level: 1
------------
Address: 30130 23 Mile Rd, New Baltimore, MI 48047, USA Name: Hungry Howie's Pizza Rating: 3.7 Price Level: 1
------------
Address: 1710 Centennial Blvd, Springfield, OR 97477, USA Name: Coburg Pizza Company Centennial Rating: 4.5 Price Level: 2
------------
Address: 30120 Town Center Dr, Laguna Niguel, CA 92677, USA Name: Ball Park Pizza Rating: 4.4 Price Level: 2
------------
Missing field/result... skipping.
Address: 4 N Weinbach Ave, Evansville, IN 47711, USA Name: Turoni's Pizzery & Brewery - Forget Me Not Rating: 4.6 Price Level: 2
------------
Address: 34747 Warren Rd, Westland, MI 48185, USA Name: Slice of the 80s Rating: 4.5 Price Level: 2
------------
Address: 8123 Ridge Rd, Port Richey, FL 34668, USA Name: Alpha Pizzeria Rating: 3.8 Price Level: 1
------------
Address: 318 E Washington St, Belleville, IL 62220, USA Name: Papa Vito's Pizza Downtown Rating: 4.6 Price Level: 2
------------
Address: 2217 Elliston Pl, Nashville, TN 37203, USA Name: Obie's Pizza Rating: 4.4 Price Level: 1
------------
Address: 3001 Delta Fair Blvd, Antioch, CA 94509, USA Name: Straw Hat Pizza Rating: 3.1 Price Level: 1
------------
Address: 1225 S 10th St, Noblesville, IN 46060, USA Name: Pizza King Rating: 4.1 Price Level: 2
------------
Address: 1956 Bacon St, San Diego, CA 92107, USA Name: Pizza Port Ocean Beach Rating: 4.6 Price Level: 2
------------
Address: 1107 Rutland Rd, Brooklyn, NY 11212, USA Name: Tony's Pizza Rating: 4.2 Price Level: 2
------------
Missing field/result... skipping.
Address: 4704 Riverdale Rd, Riverdale, MD 20737, USA Name: Dumm's Pizza & Subs Rating: 4.5 Price Level: 1
------------
Missing field/result... skipping.
Address: 5604 Greene St, Philadelphia, PA 19144, USA Name: Giovanni's Pizzeria Rating: 3.3 Price Level: 2
------------
Address: 101 N Harbor Blvd, Fullerton, CA 92832, USA Name: Fuoco Pizzeria Napoletana Rating: 4.7 Price Level: 2
------------
Missing field/result... skipping.
Address: 4312 MacArthur Blvd, Oakland, CA 94619, USA Name: Razzo's Pizza Rating: 4.1 Price Level: 1
------------
Address: 3938 S Zarzamora St, San Antonio, TX 78225, USA Name: Alamo Pizza & Wings Rating: 4.5 Price Level: 2
------------
Address: 2422 S 34th St, Kansas City, KS 66106, USA Name: Old Shawnee Pizza Rating: 5 Price Level: 2
------------
Missing field/result... skipping.
Address: 1441 Palatine Rd, Hoffman Estates, IL 60192, USA Name: Sir Nick's Pizza Rating: 4.2 Price Level: 1
------------
Address: 104 Wilson St, Pottstown, PA 19464, USA Name: Tornetta's Pizzeria Rating: 4.2 Price Level: 2
------------
Address: 2100 Saviers Rd, Oxnard, CA 93033, USA Name: Toppers Pizza Rating: 4.6 Price Level: 2
------------
Address: 1690 El Camino Real, San Bruno, CA 94066, USA Name: Toto's Pizzeria & Restaurant Rating: 4.5 Price Level: 2
------------
Address: 325 W Main St, Lexington, KY 40507, USA Name: Sawyer's Downtown Rating: 4.6 Price Level: 2
------------
Address: 208 S Washington Hwy, Ashland, VA 23005, USA Name: Pepicelli's Pizza Rating: 4.4 Price Level: 2
------------
Address: 26 5th St NW, Atlanta, GA 30308, USA Name: Ray's New York Pizza Rating: 4.2 Price Level: 2
------------
Address: 6374 York Rd, Baltimore, MD 21212, USA Name: Fortunato Brothers Pizza Rating: 4 Price Level: 2
------------
Address: 974 E Main St, Ravenna, OH 44266, USA Name: Siciliano's Pizzaria Rating: 4.8 Price Level: 1
------------
Address: 851 Main St, Northampton, PA 18067, USA Name: Mario's Pizza Shop Rating: 4.7 Price Level: 1
------------
Address: 1280 W Alexis Rd, Toledo, OH 43612, USA Name: The Original Gino's Pizza Rating: 4.2 Price Level: 2
------------
Address: 628 Columbus Ave, Thornwood, NY 10594, USA Name: Silvio's Ristorante & Pizzeria Rating: 4.3 Price Level: 2
------------
Address: 330 Mayfield Dr, Franklin, TN 37067, USA Name: Subway Rating: 4.3 Price Level: 1
------------
Address: 233 Atwood St, Pittsburgh, PA 15213, USA Name: Sorrento's Pizza Rating: 4.1 Price Level: 1
------------
Address: 73131 Country Club Dr, Palm Desert, CA 92260, USA Name: Papa Dan's Pizza & Pasta Rating: 4.1 Price Level: 2
------------
Address: 101 Oak St, Ashland, OR 97520, USA Name: Standing Stone Brewing Company Rating: 4.1 Price Level: 2
------------
Address: 1515 N Pointe Dr, Durham, NC 27705, USA Name: Golden China Restaurant Rating: 3.8 Price Level: 1
------------
Missing field/result... skipping.
Address: 148 Main St, Seal Beach, CA 90740, USA Name: Zpizza Rating: 4.6 Price Level: 1
------------
Address: 20129 N Main St, Cornelius, NC 28031, USA Name: Maola's Pizzeria & Restaurant Rating: 4.3 Price Level: 2
------------
Address: 341 Lexington Ave, New York, NY 10016, USA Name: Giuseppe's Pizza Rating: 4.1 Price Level: 1
------------
Address: 4836 Cooper Rd, Cincinnati, OH 45242, USA Name: LaRosa's Pizza Blue Ash Rating: 4.4 Price Level: 2
------------
Address: 2038 S Byrne Rd, Toledo, OH 43614, USA Name: Caper's Pizza Bar Rating: 3.9 Price Level: 2
------------
Address: 1416 N Moorpark Rd, Thousand Oaks, CA 91360, USA Name: Toppers Pizza Rating: 4.6 Price Level: 2
------------
Address: 102 N Main St, Cibolo, TX 78108, USA Name: Catalano's Pizzeria Rating: 4.5 Price Level: 1
------------
Address: 151 Calhoun St, Charleston, SC 29401, USA Name: Sabatinos Authentic New York City Pizza Rating: 4.5 Price Level: 1
------------
Missing field/result... skipping.
Address: 2350 Delaware Ave, Buffalo, NY 14216, USA Name: Just Pizza Rating: 3 Price Level: 2
------------
Address: 202 W Dickson St, Fayetteville, AR 72701, USA Name: U.S. Pizza Co Fayetteville Rating: 4.3 Price Level: 2
------------
Address: 235 W 3rd St, Swansea, SC 29160, USA Name: Paparoni's Pizzeria and Grill Rating: 4.2 Price Level: 2
------------
Address: 381 Broadway, New York, NY 10013, USA Name: Joey Pepperoniâ€™s Pizza Rating: 4 Price Level: 1
------------
Address: 1000 N Green Bay Rd, Waukegan, IL 60085, USA Name: Jack's Pizzeria & Burgers Rating: 3.6 Price Level: 2
------------
Address: 585 Oak Ave, Spruce Pine, NC 28777, USA Name: The Pizza Shop and Dry County Brewing Company Rating: 4.7 Price Level: 2
------------
Address: 7403 Kingston Pike, Knoxville, TN 37919, USA Name: West Hills Flats & Taps Rating: 4.4 Price Level: 2
------------
Missing field/result... skipping.
Address: 3105 E Henrietta Rd, Henrietta, NY 14467, USA Name: Perri's Pizzeria Rating: 4.1 Price Level: 1
------------
Missing field/result... skipping.
Address: 2885 78th Ave SE, Mercer Island, WA 98040, USA Name: Tiger Garden Rating: 3.8 Price Level: 2
------------
Address: 2885 78th Ave SE, Mercer Island, WA 98040, USA Name: Tuscan Stone Pizza Rating: 4.6 Price Level: 2
------------

Address: 1431 E Williams Field Rd, Gilbert, AZ 85295, USA Name: Barro's Pizza Rating: 4.4 Price Level: 1
------------
Address: 104 W Girard Ave, Philadelphia, PA 19123, USA Name: Paradise Restaurant Rating: 4.3 Price Level: 2
------------
Address: 3210 E Colonial Dr, Orlando, FL 32803, USA Name: Pizzeria Del-Dio Italian Restaurant Rating: 4.6 Price Level: 1
------------
Address: 831 7th Ave, New York, NY 10019, USA Name: Famous Original Rays Pizza Rating: 3.7 Price Level: 1
------------
Address: 6042 SE Division St, Portland, OR 97206, USA Name: Pizzicato Pizza Rating: 4.3 Price Level: 2
------------
Address: 936 2nd Ave, New York, NY 10022, USA Name: Abitino's Pizzeria Rating: 3.4 Price Level: 2
------------
Address: 691 N High St, Columbus, OH 43215, USA Name: Fabian's Rating: 4.2 Price Level: 2
------------
Address: 180 S Glendora Ave, West Covina, CA 91790, USA Name: Bun Street Rating: 4.7 Price Level: 2
------------
Address: 530 N Progress Ave, Harrisburg, PA 17109, USA Name: Tonino's Pizza & Grille Rating: 4.3 Price Level: 1
------------
Address: 139 S Clayton St, Lawrenceville, GA 30046, USA Name: Wings & Philly Rating: 4.4 Price Level: 1
------------
Address: 800 N Dixie Fwy, New Smyrna Beach, FL 32168, USA Name: The Original Stavro's Pizza Rating: 4.5 Price Level: 1
------------
Address: 6699 Frontier Dr, Springfield, VA 22150, USA Name: Z Pizza Rating: 3.7 Price Level: 1
------------
Address: 500 S Memorial Dr, New Castle, IN 47362, USA Name: Pizza King Rating: 4.2 Price Level: 2
------------
Address: 42 S Antrim Way, Greencastle, PA 17225, USA Name: Tony's New York Pizza Rating: 4.3 Price Level: 2
------------
Address: 8639 Regency Park Blvd, Port Richey, FL 34668, USA Name: Mamma Mia Pizzeria Rating: 4.5 Price Level: 1
------------
Address: 2551 Amsterdam Ave, New York, NY 10033, USA Name: Grandma's Pizza Rating: 3.9 Price Level: 1
------------
Missing field/result... skipping.
Address: 3131 Eastern Ave, Baltimore, MD 21224, USA Name: Matthew's Pizzeria Rating: 4.7 Price Level: 2
------------
Address: 4 Water St, Brooklyn, NY 11201, USA Name: Ignazio's Rating: 4 Price Level: 2
------------
Address: 2115 Queen Anne Ave N, Seattle, WA 98109, USA Name: Elliott Bay Pizza Co. & Flame Burger Rating: 4.2 Price Level: 1
------------
Address: 678 W Chestnut St, Lancaster, PA 17603, USA Name: Antonio's Pizza House Rating: 4.5 Price Level: 1
------------
Address: 1313 W 3rd St, Alliance, NE 69301, USA Name: Sam & Louie's Italian Restaurant NY Pizza Rating: 4.1 Price Level: 2
------------
Address: 18219 Dixie Hwy, Homewood, IL 60430, USA Name: Mama and Me Pizzeria Rating: 4.1 Price Level: 2
------------
Missing field/result... skipping.
Address: 2520 George Washington Memorial Hwy, Hayes, VA 23072, USA Name: Sals Sicilian Pizza & Restaurant Rating: 4.4 Price Level: 1
------------
Address: 2921 James St, Syracuse, NY 13206, USA Name: Papa John's Pizza Rating: 3.7 Price Level: 1
------------
Address: 2921 James St, Syracuse, NY 13206, USA Name: Dunkin' Rating: 4 Price Level: 1
------------
Address: 7600 W Capitol Dr, Milwaukee, WI 53222, USA Name: Rocky Rococo Pizza and Pasta Rating: 3.7 Price Level: 1
------------
Missing field/result... skipping.
Address: 2440 S Melrose Dr, Vista, CA 92081, USA Name: Flippin' Pizza Rating: 4.5 Price Level: 1
------------
Address: 2440 S Melrose Dr, Vista, CA 92081, USA Name: Jose's Taco Shop Rating: 3.9 Price Level: 1
------------
Address: 2440 S Melrose Dr, Vista, CA 92081, USA Name: Subway Rating: 4.5 Price Level: 1
------------
Address: 106 S Sharon Amity Rd, Charlotte, NC 28211, USA Name: Bruegger's Bagels Rating: 4.2 Price Level: 1
------------
Address: 22994 Ventura Blvd, Woodland Hills, CA 91364, USA Name: Topanga Pizza Rating: 4.6 Price Level: 2
------------
Address: 11329 W 143rd St, Orland Park, IL 60467, USA Name: Beggars Pizza Rating: 4.3 Price Level: 2
------------
Address: 86 Nassau Ave, Brooklyn, NY 11222, USA Name: Pizza Prince Rating: 3.9 Price Level: 1
------------
Address: 3414 Camino Tassajara, Danville, CA 94506, USA Name: Ascona Pizza Company Rating: 4.2 Price Level: 2
------------
Address: 3125 Wilson Blvd, Arlington, VA 22201, USA Name: Goody's Pizza Rating: 4.2 Price Level: 1
------------
Address: 3443 N Dixie Dr, Dayton, OH 45414, USA Name: Marion's Piazza Rating: 4.5 Price Level: 2
------------
Address: 305 Market St, Harrisburg, PA 17101, USA Name: Mama's Pizza Rating: 4.5 Price Level: 1
------------
Address: 53 Merrick Ave, Merrick, NY 11566, USA Name: Roma Pizzeria Rating: 4.4 Price Level: 1
------------
Address: 571 W Cherry St, Sunbury, OH 43074, USA Name: PJ's Family Restaurant Rating: 4.1 Price Level: 1
------------
Address: 1607 Montford Dr, Charlotte, NC 28209, USA Name: Lai Lai Express Rating: 3.7 Price Level: 1
------------
Address: 1607 Montford Dr, Charlotte, NC 28209, USA Name: Jet's Pizza Rating: 3.9 Price Level: 1
------------
Address: 1924 Eggert Rd, Buffalo, NY 14226, USA Name: Franco's Pizza Rating: 4.2 Price Level: 2
------------
Address: 1427 E 10th St, Charlotte, NC 28204, USA Name: Intermezzo Rating: 4.5 Price Level: 2
------------
Missing field/result... skipping.
Address: 605 E William St, Ann Arbor, MI 48104, USA Name: New York Pizza Depot Rating: 4.1 Price Level: 1
------------
Address: 20 E Cross St, Baltimore, MD 21230, USA Name: Pub Dog Pizza & Drafthouse Rating: 4.6 Price Level: 1
------------
Address: 513 N Tustin St, Orange, CA 92867, USA Name: Valentino's Pizza Rating: 4.1 Price Level: 1
------------
Address: 222 Capitol St, Charleston, WV 25301, USA Name: Pies & Pints - Charleston, WV Rating: 4.6 Price Level: 2
------------
Address: 27 Smith St, Brooklyn, NY 11201, USA Name: Sophie's Cuban Cuisine Rating: 4.2 Price Level: 2
------------
Address: 3033 Santiam Hwy SE, Albany, OR 97322, USA Name: Abby's Legendary Pizza Rating: 4.1 Price Level: 2
------------
Address: 4703 SW 16th Pl, Cape Coral, FL 33914, USA Name: Amore Italian Market and Bakery Rating: 4.6 Price Level: 2
------------
Address: 140 N Parsons Ave, Brandon, FL 33510, USA Name: Brandon Pizzeria Rating: 4.1 Price Level: 1
------------
Missing field/result... skipping.
Address: 205 5th St, West Des Moines, IA 50265, USA Name: Chuck Celsi's Tavern Restaurant Rating: 4.2 Price Level: 2
------------
Address: 4933 Brownsboro Rd, Louisville, KY 40222, USA Name: Impellizzeri's Pizza Rating: 4.3 Price Level: 2
------------
Missing field/result... skipping.
Address: 4028 Penn Ave, Pittsburgh, PA 15224, USA Name: Fazio's Pizza Rating: 4.7 Price Level: 1
------------
Address: 1906 E Carson St, Pittsburgh, PA 15203, USA Name: Benny Fierro's Rating: 4.7 Price Level: 1
------------
Missing field/result... skipping.
Address: 524 Stone Rd, Rochester, NY 14616, USA Name: Perri's Pizzeria Rating: 4 Price Level: 1
------------
Missing field/result... skipping.
Address: 1764 Merrick Ave, Merrick, NY 11566, USA Name: Via Roma Pizza Rating: 4.2 Price Level: 2
------------
Address: 33 Caroline St, Saratoga Springs, NY 12866, USA Name: D'Andrea's Pizza Rating: 3.5 Price Level: 1
------------
Address: 224 N Sandusky Ave, Bucyrus, OH 44820, USA Name: Baker's Pizza Sports Shack Rating: 4.6 Price Level: 2
------------
Address: 1112 Yadkinville Rd, Mocksville, NC 27028, USA Name: Papa John's Pizza Rating: 3.1 Price Level: 1
------------
Address: 600 Delaware St, Tonawanda, NY 14150, USA Name: Franco's Pizza Rating: 4.1 Price Level: 2
------------
Address: 2300 Paseo Verde Pkwy, Henderson, NV 89052, USA Name: Borracha Mexican Cantina Rating: 4.3 Price Level: 2
------------
Address: 2300 Paseo Verde Pkwy, Henderson, NV 89052, USA Name: Feast Buffet Rating: 4 Price Level: 1
------------
Address: 2300 Paseo Verde Pkwy, Henderson, NV 89052, USA Name: Pizza Rock Rating: 4.4 Price Level: 2
------------
Address: 2300 Paseo Verde Pkwy, Henderson, NV 89052, USA Name: Bottiglia Enoteca Rating: 4.4 Price Level: 2
------------
Missing field/result... skipping.
Address: 2002 N Interstate 35E, Carrollton, TX 75006, USA Name: Brother's Pizza & Pasta Rating: 4.6 Price Level: 2
------------
Address: 105 W Carson St, Carson, CA 90745, USA Name: Papa John's Pizza Rating: 3.7 Price Level: 1
------------
Address: 790 E 14th Ave, Eugene, OR 97401, USA Name: Pegasus Pizza Rating: 4.1 Price Level: 2
------------
Missing field/result... skipping.

Address: 517 Warren St, Hudson, NY 12534, USA Name: Baba Louie's Rating: 4.6 Price Level: 2
------------
Address: 731 Lincoln Rd, Miami Beach, FL 33139, USA Name: Spris Rating: 4.4 Price Level: 2
------------
Missing field/result... skipping.
Address: 800 Nicollet Mall, Minneapolis, MN 55402, USA Name: McCormick & Schmick's Seafood & Steaks Rating: 4.2 Price Level: 3
------------
Address: 800 Nicollet Mall, Minneapolis, MN 55402, USA Name: Greenfield Natural Kitchen - Nicollet Mall Rating: 3.8 Price Level: 1
------------
Address: 165 Bleecker St, New York, NY 10012, USA Name: Fiore's Pizza Rating: 4.2 Price Level: 1
------------
Address: 1975 Magwood Dr, Charleston, SC 29414, USA Name: Bushido Japanese Restaurant Rating: 4.2 Price Level: 2
------------
Address: 1975 Magwood Dr, Charleston, SC 29414, USA Name: Baroni's New York Pizza Rating: 3.9 Price Level: 2
------------
Address: 1975 Magwood Dr, Charleston, SC 29414, USA Name: Rio Grande Rating: 4.3 Price Level: 1
------------
Address: 1975 Magwood Dr, Charleston, SC 29414, USA Name: Jersey Mike's Subs Rating: 4.1 Price Level: 1
------------
Address: 3005 National Parks Hwy, Carlsbad, NM 88220, USA Name: Pizza Inn Rating: 3.5 Price Level: 1
------------
Address: 584 Marschall Rd, Shakopee, MN 55379, USA Name: Pizza N Pasta Rating: 4.3 Price Level: 2
------------
Address: 17805 Cottonwood Dr, Parker, CO 80134, USA Name: Tonti's Pizzeria Rating: 3.9 Price Level: 2
------------
Address: 10050 Edison Square Dr NW, Concord, NC 28027, USA Name: The Sweet Spot Rating: 4.2 Price Level: 1
------------
Address: 114 10th Ave, New York, NY 10011, USA Name: Artichoke Basille's Pizza Rating: 4.2 Price Level: 2
------------
Address: 1970 River Rd, Eugene, OR 97404, USA Name: Abby's Legendary Pizza Rating: 4 Price Level: 2
------------
Missing field/result... skipping.
Missing field/result... skipping.
Address: 4741 SE Hawthorne Blvd, Portland, OR 97215, USA Name: Apizza Scholls Rating: 4.7 Price Level: 2
------------
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Address: 3605 Sandy Plains Rd, Marietta, GA 30066, USA Name: Rosa's Pizza Rating: 4.4 Price Level: 2
------------
Missing field/result... skipping.
Address: 2800 Coors Blvd NW, Albuquerque, NM 87120, USA Name: Papa Murphy's Take 'N' Bake Pizza Rating: 4.3 Price Level: 1
------------
Address: 2828 Prairie Lakes Dr, Sun Prairie, WI 53590, USA Name: Rocky Rococo Pan Style Pizza Rating: 4.1 Price Level: 1
------------
Address: 2000 Main St, Santa Monica, CA 90405, USA Name: Stella Barra Pizzeria Rating: 4.4 Price Level: 2
------------
Address: 130 Country Ln, Pineville, LA 71360, USA Name: Little Caesars Pizza Rating: 0 Price Level: 1
------------
Address: 901 Loveland Madeira Rd, Loveland, OH 45140, USA Name: LaRosa's Pizza Loveland Rating: 4.3 Price Level: 2
------------
Address: 22149 Governors Hwy, Richton Park, IL 60471, USA Name: Beggars Pizza Rating: 4.1 Price Level: 2
------------
Address: 1016 S Main St, Weatherford, TX 76086, USA Name: Nizza Pizza Pasta & Subs Rating: 4.5 Price Level: 1
------------
Missing field/result... skipping.
Address: 1800 Euclid Ave, Cleveland, OH 44115, USA Name: Subway Rating: 3.9 Price Level: 1
------------
Address: 1853 Richmond Ave, Houston, TX 77098, USA Name: Texas Pizza Rating: 3.7 Price Level: 1
------------
Missing field/result... skipping.
Address: 345 S 8th St, Boise, ID 83702, USA Name: Meraki Greek Street Food Rating: 4.6 Price Level: 2
------------
Address: 1817 Ygnacio Valley Rd, Walnut Creek, CA 94598, USA Name: Mountain Mike's Pizza Rating: 4.3 Price Level: 2
------------
Address: 551 Haight St, San Francisco, CA 94117, USA Name: Mythic Pizza Rating: 3.8 Price Level: 1
------------
Address: 1206 Orange Ave, Coronado, CA 92118, USA Name: Village Pizzeria Rating: 4.3 Price Level: 2
------------
Address: 321 Douglas Ave, Holland, MI 49424, USA Name: Sluggo's Pizzeria Rating: 4.6 Price Level: 1
------------
Address: 3000 Packard St, Ann Arbor, MI 48108, USA Name: Little Caesars Pizza Rating: 3.8 Price Level: 1
------------
Address: 21678 Stevens Creek Blvd, Cupertino, CA 95014, USA Name: The City Fish Rating: 4.5 Price Level: 1
------------
Address: 235 N Leroy St, Fenton, MI 48430, USA Name: Jet's Pizza Rating: 3.8 Price Level: 1
------------
Address: 131 W Main St, Louisville, KY 40202, USA Name: Bearno's Pizza Rating: 4.1 Price Level: 2
------------
Address: 342 Maple St, Carrollton, GA 30117, USA Name: Jefferson's Carrollton Rating: 4.2 Price Level: 2
------------
Missing field/result... skipping.
Address: 5801 College Ave, Oakland, CA 94618, USA Name: Zachary's Chicago Pizza Rating: 4.7 Price Level: 2
------------
Address: 6600 Topanga Canyon Blvd, Canoga Park, CA 91303, USA Name: Islands Restaurant Westfield Topanga Rating: 4.3 Price Level: 2
------------
Missing field/result... skipping.
Address: 1223 W Yosemite Ave, Manteca, CA 95337, USA Name: Jack's Pizza Cafe Rating: 3.8 Price Level: 2
------------
Address: 480 Eureka Rd, Wyandotte, MI 48192, USA Name: Mancino's Pizza & Grinders Rating: 4.3 Price Level: 1
------------
Address: 3321 Stadium Dr, Kalamazoo, MI 49008, USA Name: Jet's Pizza Rating: 4.1 Price Level: 1
------------
Address: 4973 Diane Ave, San Diego, CA 92117, USA Name: Tony's Giant Pizzeria & Grill Rating: 4.3 Price Level: 1
------------
Address: 405 W Canfield Ave, Coeur d'Alene, ID 83815, USA Name: MacKenzie River Pizza, Grill & Pub Rating: 4.3 Price Level: 2
------------
Address: 9 N Elmwood Dr, Aurora, IL 60506, USA Name: Gourmet Pizza Corporation Rating: 4.5 Price Level: 2
------------
Address: 1039 Sunnyvale Saratoga Rd, Sunnyvale, CA 94087, USA Name: Little Caesars Pizza Rating: 3.6 Price Level: 1
------------
Address: 6801 Hollywood Blvd, Los Angeles, CA 90028, USA Name: French Crepe Co Rating: 4.2 Price Level: 2
------------
Missing field/result... skipping.
Address: 807 Highland Ave, Greensburg, PA 15601, USA Name: Little E's Pizzeria Rating: 4.6 Price Level: 2
------------
Missing field/result... skipping.
Address: 6541 Hollywood Blvd, Los Angeles, CA 90028, USA Name: Te'Kila Rating: 4.3 Price Level: 1
------------
Address: 6541 Hollywood Blvd, Los Angeles, CA 90028, USA Name: Secret Rating: 4.1 Price Level: 2
------------
Missing field/result... skipping.
Address: 746 E Aurora Rd, Macedonia, OH 44056, USA Name: Penn Station East Coast Subs Rating: 4.3 Price Level: 2
------------
Address: 44 S Broadway, Denver, CO 80209, USA Name: Pie Hole Rating: 4.4 Price Level: 1
------------
Address: 2305 Boonville Rd, Bryan, TX 77808, USA Name: Taco Bell Rating: 3.6 Price Level: 1
------------
Address: 2305 Boonville Rd, Bryan, TX 77808, USA Name: Subway Rating: 4.1 Price Level: 1
------------
Address: 3910 Vista Way, Oceanside, CA 92056, USA Name: Chinatown Express Rating: 4.3 Price Level: 1
------------
Address: 601 S Chester Rd, Swarthmore, PA 19081, USA Name: Swarthmore Pizza Rating: 4.1 Price Level: 2
------------
Address: 38 E 23rd St, New York, NY 10010, USA Name: è¥¿å®‰ååƒ Xi'an Famous Foods Rating: 4.6 Price Level: 1
------------
Missing field/result... skipping.
Address: 231 E North Ave, Milwaukee, WI 53212, USA Name: NYPD Rating: 3.2 Price Level: 2
------------
Address: 56 Niagara St, Buffalo, NY 14202, USA Name: Dough Bois Rating: 3.9 Price Level: 2
------------
Address: 14127 River Rd, Walnut Grove, CA 95690, USA Name: Pizza Factory Rating: 4.3 Price Level: 2
------------
Address: 1845 W Broad St, Richmond, VA 23220, USA Name: Assante's Pizza Rating: 3.9 Price Level: 1
------------
Address: 3475 E Layton Ave, Cudahy, WI 53110, USA Name: Papa Luigi's Pizza Rating: 4.5 Price Level: 2
------------
Address: 815 5th Ave N, Seattle, WA 98109, USA Name: Big Mario's Pizza Rating: 4.4 Price Level: 1
------------
Missing field/result... skipping.
Address: 990 S Odell Ave, Marshall, MO 65340, USA Name: Mazzio's Italian Eatery Rating: 4.3 Price Level: 2
------------
Address: 1201 E Broadway, Columbia, MO 65201, USA Name: The Quarry Rating: 4.5 Price Level: 2
------------
Address: 1201 E Broadway, Columbia, MO 65201, USA Name: Gumby's Pizza Rating: 4.4 Price Level: 1
------------
Address: 4007 John Ben Shepperd Pkwy, Odessa, TX 79762, USA Name: Teak & Charlie's Jersey Girl Pizza Rating: 4.6 Price Level: 2
------------

Address: 1320 Mockingbird Ln, Sulphur Springs, TX 75482, USA Name: Pizza Inn Rating: 4.4 Price Level: 1
------------
Address: 108 Franklin St NE, Olympia, WA 98501, USA Name: Old School Pizzeria Rating: 4.5 Price Level: 1
------------
Address: 128 W Lancaster Ave, Wayne, PA 19087, USA Name: Domino's Pizza Rating: 3.3 Price Level: 1
------------
Address: 2283 W Market St, Akron, OH 44313, USA Name: Romeo's Pizza Rating: 4.3 Price Level: 2
------------
Address: 6014 Radio Rd, Naples, FL 34104, USA Name: Pizza Steve's Rating: 4.5 Price Level: 2
------------
Address: 1706 University Ave, Berkeley, CA 94703, USA Name: West Coast Pizza Rating: 4 Price Level: 1
------------
Address: 2507 South Rd, Poughkeepsie, NY 12601, USA Name: La Luna Pizza & Restaurant Rating: 3.4 Price Level: 2
------------
Address: 2507 South Rd, Poughkeepsie, NY 12601, USA Name: Five Guys Rating: 4.5 Price Level: 2
------------
Address: 2450 Crystal Dr, Arlington, VA 22202, USA Name: Mezeh Mediterranean Grill (Crystal City) Rating: 4.5 Price Level: 1
------------
Address: 2450 Crystal Dr, Arlington, VA 22202, USA Name: Buffalo Wild Wings Rating: 3.2 Price Level: 2
------------
Address: 559 Winecoff School Rd, Concord, NC 28027, USA Name: Giovanni's Pizza & Pasta Rating: 4.1 Price Level: 2
------------
Address: 552 W Arrow Hwy, San Dimas, CA 91773, USA Name: Michaelangelo's Pizza Rating: 4.2 Price Level: 2
------------
Address: 1066 Gayley Ave, Los Angeles, CA 90024, USA Name: Lamonica's NY Pizza Rating: 4.6 Price Level: 1
------------
Missing field/result... skipping.
Address: 4964 W 190th St, Torrance, CA 90503, USA Name: Georgio's Pizzeria Rating: 4.4 Price Level: 1
------------
Address: 1249 Washington Ave, Miami Beach, FL 33139, USA Name: Pizza Fiore Rating: 3.8 Price Level: 1
------------
Address: 705 S Main St, Keller, TX 76248, USA Name: MrJims.Pizza Keller Rating: 4.7 Price Level: 1
------------
Address: 349 Northampton St, Easton, PA 18042, USA Name: Gino's Pizza Rating: 4.5 Price Level: 1
------------
Address: 8125 3rd Ave, Brooklyn, NY 11209, USA Name: Ben's Pizzeria Rating: 4.2 Price Level: 2
------------
Address: 8285 E Santa Ana Canyon Rd, Anaheim, CA 92808, USA Name: Porky's Pizza Rating: 4.6 Price Level: 2
------------
Address: 2525 6th Ave, Seattle, WA 98121, USA Name: A Pizza Mart Belltown Rating: 4.2 Price Level: 1
------------
Address: 161 N Main St, West Bend, WI 53095, USA Name: Sal's Pizzeria Rating: 4.6 Price Level: 1
------------
Missing field/result... skipping.
Address: 3449 Lincoln Hwy, Thorndale, PA 19372, USA Name: Joey's Pizza Rating: 4.3 Price Level: 1
------------
Missing field/result... skipping.
Address: 1000 Northside Dr NW, Atlanta, GA 30318, USA Name: Five Guys Rating: 4.3 Price Level: 2
------------
Missing field/result... skipping.
Missing field/result... skipping.
Address: 138 4th Ave, Brooklyn, NY 11217, USA Name: Papa John's Pizza Rating: 3.5 Price Level: 1
------------
Address: 7606 E Chapman Ave, Orange, CA 92869, USA Name: Wise Guys Pizzeria Rating: 4.6 Price Level: 2
------------
Address: 1563 Decatur St, Ridgewood, NY 11385, USA Name: Houdini Kitchen Laboratory Rating: 4.3 Price Level: 2
------------
Address: 850 Nostrand Ave, Brooklyn, NY 11225, USA Name: Tony's Rating: 4.2 Price Level: 2
------------
Missing field/result... skipping.
Address: 1772 E Colorado Blvd, Pasadena, CA 91106, USA Name: Big Mama's & Papa's Pizzeria - Pasadena Rating: 3.2 Price Level: 2
------------
Address: 29 E Cross St, Baltimore, MD 21230, USA Name: Ultimate Pizza Rating: 3.5 Price Level: 1
------------
Address: 221 Avenue A, New York, NY 10009, USA Name: Muzzarella Pizza Rating: 4 Price Level: 1
------------
Missing field/result... skipping.
Address: 10720 Preston Rd, Dallas, TX 75230, USA Name: Neighborhood Services Bar Room & Broiler Rating: 4.6 Price Level: 2
------------
Address: 10720 Preston Rd, Dallas, TX 75230, USA Name: McDonald's Rating: 3.6 Price Level: 1
------------
Missing field/result... skipping.
Address: 440 S Oyster Bay Rd, Hicksville, NY 11801, USA Name: Pasta-eria Rating: 4.4 Price Level: 2
------------
Address: 6038 Castor Ave, Philadelphia, PA 19149, USA Name: Castor Pizza Rating: 4.3 Price Level: 1
------------
Missing field/result... skipping.
Address: 1604 E Forsyth St, Americus, GA 31709, USA Name: Roman Oven Pizzeria Rating: 4.5 Price Level: 1
------------
Missing field/result... skipping.
Address: 330 Palmetto Ave, Pacifica, CA 94044, USA Name: Subway Restaurants Rating: 3.2 Price Level: 1
------------
Address: 16060 Ventura Blvd, Encino, CA 91436, USA Name: Fresh Brothers Encino Rating: 4 Price Level: 2
------------
Address: 16060 Ventura Blvd, Encino, CA 91436, USA Name: Subway Rating: 3.9 Price Level: 1
------------
Address: 51074 Romeo Plank Rd, Macomb, MI 48044, USA Name: Hungry Howie's Pizza Rating: 3.9 Price Level: 1
------------
Address: 522 S Roselle Rd, Schaumburg, IL 60193, USA Name: Mario's Homemade Style Pizza Rating: 4.4 Price Level: 1
------------
Address: 1101 S 119th St, Omaha, NE 68144, USA Name: Big Fred's Pizza Rating: 4.2 Price Level: 2
------------
Missing field/result... skipping.
Address: 544 Ontario St, Buffalo, NY 14207, USA Name: Pat's Pizzeria Rating: 3.8 Price Level: 2
------------
Address: 51 Spring St, New York, NY 10012, USA Name: Pomodoro Rating: 4.1 Price Level: 2
------------
Address: 51 Spring St, New York, NY 10012, USA Name: Vive la CrÃªpe Rating: 4.1 Price Level: 2
------------
Address: 323 7th Ave, Brooklyn, NY 11215, USA Name: Smiling Pizzeria Rating: 4.2 Price Level: 1
------------
Address: 7414 5th Ave, Brooklyn, NY 11209, USA Name: Gino's Rating: 4.5 Price Level: 2
------------
Address: 1307 Myrtle Ave, Brooklyn, NY 11221, USA Name: OMG pizza Rating: 3.8 Price Level: 1
------------
Address: 278 Bleecker St, New York, NY 10014, USA Name: John's of Bleecker St. Rating: 4.6 Price Level: 2
------------
Address: 44 Water St, New York, NY 10004, USA Name: Da Vinci Rating: 4.3 Price Level: 1
------------
Address: 413 8th Ave, New York, NY 10001, USA Name: NY Pizza Suprema Rating: 4.6 Price Level: 1
------------
Missing field/result... skipping.
Address: 1150 S Gilbert Rd, Gilbert, AZ 85296, USA Name: Sal's Gilbert Pizza Rating: 4.6 Price Level: 2
------------
Address: 820 12th Ave S, Naples, FL 34102, USA Name: Napoli On The Bay Rating: 4.3 Price Level: 2
------------
Address: 13915 N Dysart Rd, El Mirage, AZ 85335, USA Name: Lupita's Mexican Restaurant Rating: 4.2 Price Level: 1
------------
Address: 7512 W Hillsborough Ave, Tampa, FL 33615, USA Name: ABC Pizza Rating: 4.2 Price Level: 1
------------
Address: 2503 N Harrison St, Arlington, VA 22207, USA Name: pie-tanza Rating: 4.6 Price Level: 2
------------
Address: 1524 Valley Dr, Syracuse, NY 13207, USA Name: Luigi's Restaurant Rating: 4 Price Level: 2
------------
Missing field/result... skipping.
Missing field/result... skipping.
Address: 7002 Johnson Dr, Mission, KS 66202, USA Name: Godfather's Pizza Rating: 4 Price Level: 2
------------
Address: 7312 Louetta Rd, Spring, TX 77379, USA Name: DoubleDave's Pizzaworks Rating: 4.2 Price Level: 1
------------
Address: 7312 Louetta Rd, Spring, TX 77379, USA Name: Smoothie King Rating: 4 Price Level: 2
------------
Address: 1735 Arden Way, Sacramento, CA 95815, USA Name: Mikuni | Arden Fair Rating: 4.4 Price Level: 2
------------
Missing field/result... skipping.
Address: 1133 N University Dr, Nacogdoches, TX 75961, USA Name: Taco Casa Rating: 4.1 Price Level: 1
------------
Missing field/result... skipping.
Address: 11677 San Vicente Blvd, Los Angeles, CA 90049, USA Name: California Pizza Kitchen at Brentwood Rating: 4.2 Price Level: 2
------------
Address: 1724 E 7th Ave, Tampa, FL 33605, USA Name: Due Amici Pizza Rating: 4.6 Price Level: 1
------------
Missing field/result... skipping.
Address: 5829 Jarvis Ave, Newark, CA 94560, USA Name: Panda Express Rating: 3.8 Price Level: 1
------------
Address: 11740 San Vicente Blvd, Los Angeles, CA 90049, USA Name: Chin Chin Restaurant Rating: 3.9 Price Level: 2
------------
Address: 11740 San Vicente Blvd, Los Angeles, CA 90049, USA Name: Fresh Brothers Brentwood Rating: 4 Price Level: 2
------------
Address: 11740 San Vicente Blvd, Los Angeles, CA 90049, USA Name: Burger Lounge Rating: 4.4 Price Level: 2
------------

Address: 300 S Roosevelt Dr, Seaside, OR 97138, USA Name: Domino's Pizza Rating: 4.1 Price Level: 1
------------
Address: 2720 McCullough Ave, San Antonio, TX 78212, USA Name: Barbaro Rating: 4.4 Price Level: 2
------------
Address: 181 E Broadway, New York, NY 10002, USA Name: Lower East Side Pizza Rating: 3.4 Price Level: 2
------------
Missing field/result... skipping.
Address: 5924 S Land Park Dr, Sacramento, CA 95822, USA Name: Giovanni's Old World New York Pizzeria Rating: 4.1 Price Level: 2
------------
Address: 27080 John R Rd, Madison Heights, MI 48071, USA Name: Happy's Pizza Rating: 3.2 Price Level: 2
------------
Address: 214 Court St, Brooklyn, NY 11201, USA Name: Layla Jones Rating: 4.3 Price Level: 1
------------
Address: 835 Seven Hills Dr, Henderson, NV 89052, USA Name: Angelina's Pizzeria Rating: 3.9 Price Level: 2
------------
Address: 401 C St, San Diego, CA 92101, USA Name: A Brooklyn Pizzeria Rating: 4.2 Price Level: 2
------------
Missing field/result... skipping.
Address: 1040 S Washington Ave, Scranton, PA 18505, USA Name: Alfredos Pizza Rating: 4.2 Price Level: 2
------------
Missing field/result... skipping.
Address: 1913 Portland Rd, Newberg, OR 97132, USA Name: Abby's Legendary Pizza Rating: 4.3 Price Level: 2
------------
Address: 6823 Forest Hill Ave, Richmond, VA 23225, USA Name: Papa John's Pizza Rating: 3 Price Level: 1
------------
Address: 2121 W Parmer Ln, Austin, TX 78727, USA Name: Pok-E-Jo's Rating: 4.3 Price Level: 2
------------
Address: 3637 Werk Rd, Cincinnati, OH 45248, USA Name: Werkhaus Pizza Rating: 4.4 Price Level: 2
------------
Address: 2560 El Camino Real, Redwood City, CA 94061, USA Name: Pronto Wood Fired Pizzeria and Rotisserie Rating: 4.4 Price Level: 2
------------
Address: 1545 S Power Rd, Mesa, AZ 85206, USA Name: Barro's Pizza Rating: 4.4 Price Level: 1
------------
Address: 431 E Girard Ave, Philadelphia, PA 19125, USA Name: Slice Pizza Rating: 3.8 Price Level: 2
------------
Address: 742 E Glendale Ave, Phoenix, AZ 85020, USA Name: Sauce Pizza & Wine Rating: 4.2 Price Level: 2
------------
Address: 742 E Glendale Ave, Phoenix, AZ 85020, USA Name: Subway Rating: 4.4 Price Level: 1
------------
Address: 3435 Greystone Dr, Austin, TX 78731, USA Name: Austin Terrier Rating: 4.2 Price Level: 2
------------
Missing field/result... skipping.
Address: 371 W Ferry St, Buffalo, NY 14213, USA Name: La Nova Pizzeria Rating: 4.3 Price Level: 2
------------
Missing field/result... skipping.
Missing field/result... skipping.
Address: 805 College Blvd, Oceanside, CA 92057, USA Name: Tony Pepperoni Rating: 4.5 Price Level: 2
------------
Address: 3960 N Studebaker Rd, Long Beach, CA 90808, USA Name: Rezzini's Pizzaria Rating: 4.2 Price Level: 2
------------
Address: 485 Lorimer St, Brooklyn, NY 11211, USA Name: Forcella Rating: 4.2 Price Level: 2
------------
Address: 1710 W Main St, Kalamazoo, MI 49006, USA Name: Zooroona Restaurant Rating: 4.5 Price Level: 2
------------
Address: 1710 W Main St, Kalamazoo, MI 49006, USA Name: Saffron Indian Cuisine Rating: 4.5 Price Level: 2
------------
Address: 1710 W Main St, Kalamazoo, MI 49006, USA Name: BC Pizza Kalamazoo Rating: 4.6 Price Level: 1
------------
Address: 1710 W Main St, Kalamazoo, MI 49006, USA Name: Nina's Cafe & Carousel Rating: 4.5 Price Level: 1
------------
Missing field/result... skipping.
Address: 3500 S Meridian, Puyallup, WA 98373, USA Name: Golden Corral Buffet & Grill Rating: 3.6 Price Level: 2
------------
Missing field/result... skipping.
Address: 108 S Ranch House Rd, Aledo, TX 76008, USA Name: MrJims.Pizza Rating: 3.6 Price Level: 2
------------
Address: 288 Main St, Pleasanton, CA 94566, USA Name: Gay 90's Pizza Co. Rating: 4.5 Price Level: 2
------------
Missing field/result... skipping.
Missing field/result... skipping.
Address: 210 E 3rd St, Long Beach, CA 90802, USA Name: Michael's Downtown: Italian Kitchen Rating: 4.5 Price Level: 2
------------
Address: 210 E 3rd St, Long Beach, CA 90802, USA Name: Beachwood BBQ and Brewing Rating: 4.5 Price Level: 2
------------
Address: 210 E 3rd St, Long Beach, CA 90802, USA Name: Dog Haus Biergarten Long Beach Rating: 4.5 Price Level: 2
------------
Address: 3880 Rib Mountain Dr, Wausau, WI 54401, USA Name: Rocky Rococo Pizza and Pasta Rating: 4.2 Price Level: 1
------------
Address: 3842 Sunrise Hwy, Seaford, NY 11783, USA Name: Mario's Pizzeria of Seaford Rating: 4.5 Price Level: 2
------------
Address: 1951 E Dublin Granville Rd, Columbus, OH 43229, USA Name: Massey's Pizza Rating: 3.6 Price Level: 2
------------
Address: 620 Easton Rd, Warrington, PA 18976, USA Name: Wendy's Rating: 4.1 Price Level: 1
------------
Address: 2525 Arapahoe Ave, Boulder, CO 80302, USA Name: Zolo Southwestern Grill Rating: 4.2 Price Level: 2
------------
Address: 2525 Arapahoe Ave, Boulder, CO 80302, USA Name: Rincon Argentino Rating: 4.8 Price Level: 1
------------
Address: 2525 Arapahoe Ave, Boulder, CO 80302, USA Name: Le Peep Rating: 4.4 Price Level: 2
------------
Address: 2525 Arapahoe Ave, Boulder, CO 80302, USA Name: Larkburger Boulder Rating: 4 Price Level: 1
------------
Address: 2343 W Chicago Ave, Chicago, IL 60622, USA Name: Bacci Pizzeria Rating: 3.7 Price Level: 1
------------
Address: 852 8th Ave, New York, NY 10019, USA Name: Gotham Pizza Rating: 4.2 Price Level: 1
------------
Address: 36 S Market St, Frederick, MD 21701, USA Name: Flippin Pizza - Frederick Rating: 4.2 Price Level: 1
------------
Address: 6112 Franconia Rd, Alexandria, VA 22310, USA Name: Franconia Pizza Rating: 4.5 Price Level: 1
------------
Address: 950 Mamaroneck Ave, Mamaroneck, NY 10543, USA Name: Domino's Pizza Rating: 3.9 Price Level: 1
------------
Address: 102 Berry St, Brooklyn, NY 11211, USA Name: Oregano Rating: 4.4 Price Level: 2
------------
Missing field/result... skipping.
Address: 437 Washington Ave, Miami Beach, FL 33139, USA Name: Fratelli La Bufala - Miami Beach Rating: 4.5 Price Level: 2
------------
Address: 7929 Emerson Ave, Los Angeles, CA 90045, USA Name: The Good Pizza Rating: 4.2 Price Level: 1
------------
Missing field/result... skipping.
Address: 600 S Airport Rd, Longmont, CO 80503, USA Name: Sakura Japanese Cuisine Rating: 4.7 Price Level: 2
------------
Address: 600 S Airport Rd, Longmont, CO 80503, USA Name: CYCLHOPS Bike CANtina Rating: 4.4 Price Level: 2
------------
Address: 3903 14th Ave, Rock Island, IL 61201, USA Name: Harris Pizza Rating: 4.6 Price Level: 2
------------
Address: 43 N Village Ave, Rockville Centre, NY 11570, USA Name: Vulcano Wood Fire Pizza Rating: 4.4 Price Level: 2
------------
Address: 1874 Whittaker Rd, Ypsilanti, MI 48197, USA Name: Hungry Howie's Pizza Rating: 4.1 Price Level: 1
------------
Missing field/result... skipping.
Address: 5950 Richmond Hwy, Alexandria, VA 22303, USA Name: Juliano's Pizzeria Rating: 3.9 Price Level: 2
------------
Address: 1799 Briarcliff Rd NE, Atlanta, GA 30306, USA Name: Thaicoon & Sushi Bar Rating: 4.5 Price Level: 2
------------
Address: 1799 Briarcliff Rd NE, Atlanta, GA 30306, USA Name: Pizza Bella Rating: 4.2 Price Level: 2
------------
Address: 1955 Central Park Ave, Yonkers, NY 10710, USA Name: Frank Pepe Pizzeria Napoletana Rating: 4.5 Price Level: 2
------------
Address: 4470 Lafayette St, Marianna, FL 32446, USA Name: Hungry Howie's Pizza Rating: 3.8 Price Level: 1
------------
Missing field/result... skipping.
Address: 1204 Flatbush Ave, Brooklyn, NY 11226, USA Name: Bona Pizza Rating: 4.1 Price Level: 1
------------
Address: 6440 N MacArthur Blvd, Irving, TX 75039, USA Name: Pie Five Pizza Rating: 4.3 Price Level: 1
------------
Address: 6440 N MacArthur Blvd, Irving, TX 75039, USA Name: Jamba Las Colinas Village Rating: 4.3 Price Level: 1
------------
Address: 9 Cooper St, Babylon, NY 11702, USA Name: Domino's Pizza Rating: 3.7 Price Level: 1
------------
Missing field/result... skipping.
Address: 5099 Mission St, San Francisco, CA 94112, USA Name: Roma Pizza Rating: 4.1 Price Level: 2
------------
Address: 711 Pleasant Grove Blvd, Roseville, CA 95678, USA Name: zpizza Tap Room Rating: 4.6 Price Level: 1
------------
Address: 415 17th Ave N, Hopkins, MN 55343, USA Name: Jet's Pizza Rating: 4.3 Price Level: 1
------------

Missing field/result... skipping.
Address: 219 W Maple Ave, Fayetteville, WV 25840, USA Name: Pies & Pints - Fayetteville, WV Rating: 4.7 Price Level: 2
------------
Address: 538 Warren St, Huntington, IN 46750, USA Name: Z-Place Pizza Rating: 4.3 Price Level: 1
------------
Address: 2600 Ardmore Blvd, Pittsburgh, PA 15221, USA Name: Jodi B's Restaurant Rating: 4.3 Price Level: 1
------------
Address: 2600 Ardmore Blvd, Pittsburgh, PA 15221, USA Name: Domino's Pizza Rating: 2.6 Price Level: 1
------------
Missing field/result... skipping.
Address: 5230 Baymeadows Rd, Jacksonville, FL 32217, USA Name: Papa John's Pizza Rating: 3.6 Price Level: 1
------------
Address: 3675 J St, Sacramento, CA 95816, USA Name: Juno's Kitchen & Delicatessen Rating: 4.7 Price Level: 2
------------
Address: 140 Crescent Dr, Pleasant Hill, CA 94523, USA Name: Zachary's Chicago Pizza Rating: 4.6 Price Level: 2
------------
Missing field/result... skipping.
Address: 4085 Atlantic Ave, Long Beach, CA 90807, USA Name: Aura Thai Rating: 4.2 Price Level: 1
------------
Address: 4085 Atlantic Ave, Long Beach, CA 90807, USA Name: Jamba Rating: 4.5 Price Level: 1
------------
Address: 4849 S Howell Ave, Milwaukee, WI 53207, USA Name: Rocky Rococo Pizza and Pasta Rating: 4.2 Price Level: 1
------------
Address: 2237 E Colorado Blvd, Pasadena, CA 91107, USA Name: Rosarito Mexican Food Rating: 4.4 Price Level: 1
------------
Address: 1763 SW 3rd Ave, Miami, FL 33129, USA Name: Tutto Pizza Rating: 4.6 Price Level: 2
------------
Address: 22 S Main St, Doylestown, PA 18901, USA Name: Pennsylvania Soup & Seafood House Rating: 4.5 Price Level: 2
------------
Address: 22 S Main St, Doylestown, PA 18901, USA Name: Spuntino Wood Fired Pizzeria Rating: 4.6 Price Level: 2
------------
Address: 849 Manhattan Ave, Brooklyn, NY 11222, USA Name: Fornino Rating: 4.5 Price Level: 2
------------
Address: 3400 E Hebron Pkwy, Carrollton, TX 75010, USA Name: Five Guys Rating: 3.8 Price Level: 2
------------
Address: 1126 Main St, Cincinnati, OH 45202, USA Name: Lucy Blue Rating: 4.3 Price Level: 1
------------
Missing field/result... skipping.
Address: 16535 Southwest Fwy, Sugar Land, TX 77479, USA Name: Black Walnut Cafe Rating: 4.2 Price Level: 2
------------
Address: 16535 Southwest Fwy, Sugar Land, TX 77479, USA Name: The Cheesecake Factory Rating: 3.9 Price Level: 2
------------
Missing field/result... skipping.
Missing field/result... skipping.
Address: 319 Granby St, Norfolk, VA 23510, USA Name: California Burrito Rating: 4 Price Level: 2
------------
Address: 10622 S River Front Pkwy, South Jordan, UT 84095, USA Name: Brick Oven Rating: 3.8 Price Level: 2
------------
Address: 1228 12th Ave, Grafton, WI 53024, USA Name: Downtown Pizza Rating: 4.3 Price Level: 2
------------
Address: 6149 N Scottsdale Rd, Scottsdale, AZ 85250, USA Name: Slanted Rice Vietnamese Bistro Rating: 4.6 Price Level: 2
------------
Address: 2518 Durant Ave, Berkeley, CA 94704, USA Name: Smoke's Poutinerie Rating: 4 Price Level: 1
------------
Missing field/result... skipping.
Address: 2080 Western Ave, Guilderland, NY 12084, USA Name: Recovery Sports Grill Rating: 3.7 Price Level: 2
------------
Address: 3412 S Western Ave, Sioux Falls, SD 57105, USA Name: RedRossa Napoli Pizza Rating: 4.4 Price Level: 2
------------
Address: 210 Garfield St S, Tacoma, WA 98444, USA Name: Farrelli's Pizza, Parkland Rating: 4.1 Price Level: 2
------------
Address: 4475 Roswell Rd, Marietta, GA 30062, USA Name: Panera Bread Rating: 3.8 Price Level: 2
------------
Address: 2600 W 7th St, Fort Worth, TX 76107, USA Name: Sushi Axiom-West Fort Worth Rating: 4.5 Price Level: 2
------------
Address: 2600 W 7th St, Fort Worth, TX 76107, USA Name: BoomerJack's Grill & Bar - 7th Street Rating: 4.1 Price Level: 2
------------
Address: 1924 W Chicago Ave, Chicago, IL 60622, USA Name: Roots Handmade Pizza Rating: 4.3 Price Level: 2
------------
Address: 1924 W Chicago Ave, Chicago, IL 60622, USA Name: Homestead On The Roof Rating: 4.5 Price Level: 2
------------
Address: 730 Kains Ave, San Bruno, CA 94066, USA Name: Seniore's Pizza Rating: 4.3 Price Level: 2
------------
Address: 5135 N Dysart Rd, Litchfield Park, AZ 85340, USA Name: Barro's Pizza Rating: 4.5 Price Level: 1
------------
Address: 3252 Cahuenga Blvd W, Los Angeles, CA 90068, USA Name: The PieSpace Rating: 4.2 Price Level: 2
------------
Address: 319 East St, Bloomsburg, PA 17815, USA Name: Naps Pizza Rating: 4.3 Price Level: 2
------------
Missing field/result... skipping.
Address: 17 Cleveland Pl, New York, NY 10012, USA Name: Eileen's Special Cheesecake Rating: 4.6 Price Level: 2
------------
Address: 17 Cleveland Pl, New York, NY 10012, USA Name: Champion Pizza SoHo Rating: 4.6 Price Level: 1
------------
Address: 440 E 14th St, New York, NY 10009, USA Name: Domino's Pizza Rating: 3.6 Price Level: 1
------------
Address: 167 Orchard St, New York, NY 10002, USA Name: Pizza Beach Rating: 4.2 Price Level: 2
------------
Address: 5806 Cheviot Rd, Cincinnati, OH 45247, USA Name: Cancun Mexican Restaurant Rating: 4.2 Price Level: 2
------------
Address: 11711 Princeton Pike, Cincinnati, OH 45246, USA Name: LaRosa's Pizza Princeton Rating: 4.2 Price Level: 2
------------
Address: 15817 Bernardo Center Dr, San Diego, CA 92127, USA Name: Victors Kafe Rating: 4.6 Price Level: 1
------------
Address: 1707 Sardis Rd N, Charlotte, NC 28270, USA Name: Hungry Howie's Pizza Rating: 3.9 Price Level: 1
------------
Missing field/result... skipping.
Address: 191 Outer Loop, Louisville, KY 40214, USA Name: Little Caesars Pizza Rating: 3 Price Level: 1
------------
Address: 1901 Junipero Serra Blvd, Daly City, CA 94014, USA Name: Westlake Coffee Shop Rating: 4.2 Price Level: 1
------------
Address: 181 Church St, New York, NY 10007, USA Name: Domino's Pizza Rating: 3.5 Price Level: 1
------------
Address: 9450 S Northshore Dr, Knoxville, TN 37922, USA Name: Moe's Southwest Grill Rating: 4.4 Price Level: 1
------------
Address: 9450 S Northshore Dr, Knoxville, TN 37922, USA Name: Subway Rating: 3.8 Price Level: 1
------------
Address: 66 Church St, Mercersburg, PA 17236, USA Name: Romeo's Pizza Rating: 4.5 Price Level: 2
------------
Address: 119 1st Ave W, Milan, IL 61264, USA Name: Pagalo's Pizzeria & Gelato Cafe Rating: 4.5 Price Level: 2
------------
Missing field/result... skipping.
Address: 1115 S Bethlehem Pike, Ambler, PA 19002, USA Name: Domino's Pizza Rating: 3.3 Price Level: 1
------------
Address: 305 South St, Philadelphia, PA 19147, USA Name: Lorenzo and Sons Pizza Rating: 4.5 Price Level: 1
------------
Address: 140 7th Ave, Brooklyn, NY 11215, USA Name: Da Nonna Rosa Rating: 4.5 Price Level: 2
------------
Address: 4268 Oldfield Crossing Dr, Jacksonville, FL 32223, USA Name: Vino's Pizza Rating: 4.1 Price Level: 2
------------
Address: 4268 Oldfield Crossing Dr, Jacksonville, FL 32223, USA Name: Firehouse Subs Rating: 4.5 Price Level: 1
------------
Address: 543 E Eighth St, Traverse City, MI 49686, USA Name: Dino's Pizza Rating: 4.4 Price Level: 1
------------
Address: 7019 N 19th Ave, Phoenix, AZ 85021, USA Name: Raffaele's Pizza Rating: 4.7 Price Level: 1
------------
Address: 5549 County Farm Rd, Hanover Park, IL 60133, USA Name: Rosati's Pizza Rating: 3.2 Price Level: 2
------------
Address: 1165 W Spring St, South Elgin, IL 60177, USA Name: Rosati's Pizza Rating: 3.6 Price Level: 2
------------
Address: 100 Main St, Safety Harbor, FL 34695, USA Name: Bravo NY Pizzeria Rating: 3.8 Price Level: 1
------------
Address: 11551 University Blvd, Orlando, FL 32817, USA Name: Lazy Moon Rating: 4.6 Price Level: 1
------------
Address: 11551 University Blvd, Orlando, FL 32817, USA Name: Toasted (UCF area) Rating: 4.4 Price Level: 2
------------
Address: 4452 Kenny Rd, Columbus, OH 43220, USA Name: Iacono's Pizza & Restaurant Rating: 4.3 Price Level: 2
------------
Address: 5346 Prosperity Church Rd, Charlotte, NC 28269, USA Name: Due Amici Pizza Rating: 4.6 Price Level: 1
------------
Address: 118 S Broadway St, Siloam Springs, AR 72761, USA Name: Fratelli's Wood-Fired Pizzeria Rating: 4.6 Price Level: 2
------------
Address: 1600 Central Ave, Charlotte, NC 28205, USA Name: The Pizza Peel & Tap Room Rating: 4.4 Price Level: 2
------------

Address: 320 Water St, Eau Claire, WI 54703, USA Name: Gyro King Rating: 4.6 Price Level: 1
------------
Missing field/result... skipping.
Address: 438 S York Rd, Bensenville, IL 60106, USA Name: Mamma Maria's Pizzeria & Ristorante Rating: 4.4 Price Level: 2
------------
Address: 4938 S Staples St, Corpus Christi, TX 78411, USA Name: Subway Restaurants Rating: 3.6 Price Level: 1
------------
Missing field/result... skipping.
Missing field/result... skipping.
Address: 2030 New Bern Ave, Raleigh, NC 27610, USA Name: Frank's Pizza & Italian Restaurant Rating: 4.5 Price Level: 1
------------
Missing field/result... skipping.
Address: 2717 Vine St, Cincinnati, OH 45219, USA Name: LaRosa's Pizza Clifton Rating: 3.8 Price Level: 2
------------
Address: 3174 NW Federal Hwy, Jensen Beach, FL 34957, USA Name: Sbarro Rating: 2.8 Price Level: 1
------------
Missing field/result... skipping.
Address: 1700 W New Haven Ave, Melbourne, FL 32904, USA Name: Outback Steakhouse Rating: 4.2 Price Level: 2
------------
Address: 1700 W New Haven Ave, Melbourne, FL 32904, USA Name: BJ's Restaurant & Brewhouse Rating: 4 Price Level: 2
------------
Address: 1700 W New Haven Ave, Melbourne, FL 32904, USA Name: Auntie Anne's Rating: 4.1 Price Level: 1
------------
Address: 5210 Northland Dr NE, Grand Rapids, MI 49525, USA Name: Papa Murphy's Take 'N' Bake Pizza Rating: 4.5 Price Level: 1
------------
Address: 320 Town Center Ave, Suwanee, GA 30024, USA Name: Golden Seven II Rating: 4.1 Price Level: 2
------------
Address: 320 Town Center Ave, Suwanee, GA 30024, USA Name: Planet Smoothie Rating: 4.5 Price Level: 1
------------
Missing field/result... skipping.
Missing field/result... skipping.
Address: 3415 SE 192nd Ave, Vancouver, WA 98683, USA Name: Papa Murphy's Take 'N' Bake Pizza Rating: 4.2 Price Level: 1
------------
Missing field/result... skipping.
Address: 118 Service Dr, Brandon, MS 39042, USA Name: Mazzio's Italian Eatery Rating: 3.8 Price Level: 2
------------
Address: 7044 Emblem Dr, Indianapolis, IN 46237, USA Name: Noble Roman's Rating: 3.4 Price Level: 2
------------
Missing field/result... skipping.
Address: 3157 Sugarloaf Pkwy, Lawrenceville, GA 30045, USA Name: Johnny's New York Style Pizza Rating: 4.2 Price Level: 2
------------
Address: 85 7th Ave, Brooklyn, NY 11217, USA Name: Roma Pizza Rating: 4.3 Price Level: 1
------------
Address: 650 W Maple St, New Lenox, IL 60451, USA Name: Beggars Pizza Rating: 4.3 Price Level: 2
------------
Address: 170 W Washington St, Chicago, IL 60602, USA Name: Cardozo's Pub Rating: 4 Price Level: 1
------------
Address: 6928 E Broad St, Columbus, OH 43213, USA Name: Domino's Pizza Rating: 3.4 Price Level: 1
------------
Address: 70 N Vail Ave, Arlington Heights, IL 60005, USA Name: Shakou Arlington Heights Rating: 4.5 Price Level: 3
------------
Address: 2401 15th St, Denver, CO 80202, USA Name: Proto's Pizza-Denver Rating: 4.5 Price Level: 2
------------
Missing field/result... skipping.
Address: 6930 Madisonville Rd, Cincinnati, OH 45227, USA Name: Mio's Pizzeria Rating: 4.4 Price Level: 2
------------
Address: 4615 Park Blvd, San Diego, CA 92116, USA Name: Red House Pizza Rating: 4.6 Price Level: 2
------------
Address: 5996 Stetson Hills Blvd, Colorado Springs, CO 80923, USA Name: Louie's Pizza Rating: 3.6 Price Level: 1
------------
Address: 1524 Church St, Decatur, GA 30030, USA Name: Moe's Southwest Grill Rating: 4 Price Level: 1
------------
Address: 1301 E Robinson Ave, Springdale, AR 72764, USA Name: Mariscos Playa Azul Rating: 3.9 Price Level: 2
------------
Address: 1301 E Robinson Ave, Springdale, AR 72764, USA Name: Mazzio's Italian Eatery Rating: 3.9 Price Level: 2
------------
Address: 511 SE Washington Blvd, Bartlesville, OK 74006, USA Name: Mazzio's Italian Eatery Rating: 4.1 Price Level: 2
------------
Missing field/result... skipping.
Address: 6501 E Greenway Pkwy, Scottsdale, AZ 85254, USA Name: Panda Express Rating: 3.6 Price Level: 1
------------
Address: 6501 E Greenway Pkwy, Scottsdale, AZ 85254, USA Name: Subway Rating: 4.3 Price Level: 1
------------
Address: 1116 Polk St, San Francisco, CA 94109, USA Name: Mustafio's Pizza Rating: 4.1 Price Level: 1
------------
Address: 2395 York Rd, Jamison, PA 18929, USA Name: McDonald's Rating: 3.6 Price Level: 1
------------
Missing field/result... skipping.
Address: 66 Main St, Tuckahoe, NY 10707, USA Name: Villaggio Pizzeria Rating: 4.1 Price Level: 1
------------
Address: 1985 W Happy Valley Rd, Phoenix, AZ 85085, USA Name: Streets of New York Rating: 4.1 Price Level: 2
------------
Address: 5330 Salem Ave, Dayton, OH 45426, USA Name: Little Caesars Pizza Rating: 4 Price Level: 1
------------
Address: 1209 N Wells St, Chicago, IL 60610, USA Name: Happy Camper Pizzeria Rating: 4.5 Price Level: 2
------------
Address: 25101 N Lake Pleasant Pkwy, Peoria, AZ 85383, USA Name: Papa John's Pizza Rating: 3.9 Price Level: 1
------------
Address: 1132 W Taylor St, Chicago, IL 60607, USA Name: Big G's Pizza Rating: 4.3 Price Level: 1
------------
Address: 1004 Willis Ave, Albertson, NY 11507, USA Name: Vincent's Pizzeria Rating: 4.2 Price Level: 2
------------
Address: 515 S Oxford Valley Rd, Fairless Hills, PA 19030, USA Name: Julio's Famous Pizzeria Rating: 4.4 Price Level: 1
------------
Address: 2530 W Market St, York, PA 17404, USA Name: Genovas Pizza & Restaurant Rating: 4.3 Price Level: 2
------------
Address: 218 Market St, Philadelphia, PA 19106, USA Name: Big Ass Slices Rating: 4 Price Level: 1
------------
Address: 401 N Hickory Rd, South Bend, IN 46615, USA Name: Polito's Pizza Rating: 4.2 Price Level: 2
------------
Address: 6826 E Apple Ave, Muskegon, MI 49442, USA Name: Mr. Scrib's Pizza Rating: 4.6 Price Level: 2
------------
Address: 3131 Thatcher Ave, River Grove, IL 60171, USA Name: D'Agostino's Pizza and Pub River Grove Rating: 4.2 Price Level: 2
------------
Address: 32 Main St, Hamburg, NY 14075, USA Name: Butera's Craft Beer & Craft Pizza Rating: 4.5 Price Level: 2
------------
Address: 6235 Goodrich Rd, Clarence Center, NY 14032, USA Name: Clarence Pizza Company Rating: 4.4 Price Level: 2
------------
Missing field/result... skipping.
Address: 3489 Mission St, San Francisco, CA 94110, USA Name: Zante Pizza & Indian Cuisine Rating: 4.1 Price Level: 2
------------
Address: 401 E Braddock Rd, Alexandria, VA 22301, USA Name: Lena's Wood-Fired Pizza & Tap Rating: 4.4 Price Level: 2
------------
Address: 50 2nd Ave, New York, NY 10003, USA Name: Proto's Pizza Rating: 4.4 Price Level: 2
------------
Address: 329 Castle Shannon Blvd, Pittsburgh, PA 15234, USA Name: Caliente Pizza & Drafthouse Rating: 3.9 Price Level: 2
------------
Address: 350 E Bell Rd, Phoenix, AZ 85022, USA Name: Famous Ray's Pizza Rating: 4.5 Price Level: 2
------------
Address: 350 E Bell Rd, Phoenix, AZ 85022, USA Name: Flamingo Palace Rating: 4.1 Price Level: 2
------------
Address: 1919 W Montrose Ave, Chicago, IL 60613, USA Name: Chicago's Pizza Rating: 4.3 Price Level: 2
------------
Address: 1880 Mendocino Ave, Santa Rosa, CA 95401, USA Name: Subway Rating: 3.5 Price Level: 1
------------
Address: 194 Main St, New Paltz, NY 12561, USA Name: La Bella Pizza Bistro Rating: 3.8 Price Level: 1
------------
Address: 22 E Main St, East Islip, NY 11730, USA Name: Bellina's Pizza and Restaurant Rating: 4.5 Price Level: 1
------------
Address: 2801 N Lincoln Ave, Chicago, IL 60657, USA Name: Gino's East - Lakeview Rating: 4.3 Price Level: 2
------------
Address: 24270 Novi Rd, Novi, MI 48375, USA Name: Benito's Pizza Cafe Rating: 4.6 Price Level: 1
------------
Address: 257 Echo Ave, Sound Beach, NY 11789, USA Name: Caramia Pizzaria Rating: 4.1 Price Level: 1
------------
Address: 2130 E Silver Springs Blvd, Ocala, FL 34470, USA Name: Blue Highway, a pizzeria Rating: 4.5 Price Level: 2
------------
Address: 2687 S Woodland Blvd, DeLand, FL 32720, USA Name: Angelina's Pizzeria Rating: 4.7 Price Level: 1
------------
Address: 40 E Louther St, Carlisle, PA 17013, USA Name: Seve-N-Dots Rating: 4.7 Price Level: 1
------------
Address: 508 Larkfield Rd, East Northport, NY 11731, USA Name: Chefs of New York Rating: 4.5 Price Level: 2
------------
Address: 500 N Carpenter Rd, Modesto, CA 95351, USA Name: Michael's Pizza Bar and Grill Rating: 4.6 Price Level: 2
------------

Address: 41070 California Oaks Rd, Murrieta, CA 92562, USA Name: Chili's Grill & Bar Rating: 4.2 Price Level: 2
------------
Address: 28 West St, New York, NY 10004, USA Name: Inatteso Pizzabar Casano Rating: 4.4 Price Level: 2
------------
Address: 260 S 200 W, Salt Lake City, UT 84101, USA Name: Settebello Rating: 4.5 Price Level: 2
------------
Address: 742 N State St, Westerville, OH 43082, USA Name: Classic Pizza Rating: 4.3 Price Level: 1
------------
Address: 6171 Mission Gorge Rd, San Diego, CA 92120, USA Name: Souplantation Rating: 4.4 Price Level: 1
------------
Address: 6171 Mission Gorge Rd, San Diego, CA 92120, USA Name: Subway Rating: 3.8 Price Level: 1
------------
Address: 2709 McKinney Ave, Dallas, TX 75204, USA Name: LA Gourmet Pizza Rating: 4.1 Price Level: 2
------------
Address: 380 N Park Rd, Hollywood, FL 33021, USA Name: Big Louie's Pizza Rating: 3.9 Price Level: 2
------------
Address: 2650 King Rd, Frisco, TX 75034, USA Name: Papa John's Pizza Rating: 3.4 Price Level: 1
------------
Address: 5701 Memphis Ave, Cleveland, OH 44144, USA Name: Dina's Pizza & Pub Rating: 4.4 Price Level: 2
------------
Address: 118 Mamaroneck Ave, White Plains, NY 10601, USA Name: Mario's Pizza Restaurant Rating: 3.9 Price Level: 1
------------
Address: 20420 Haggerty Rd, Northville, MI 48167, USA Name: MISSION BBQ Rating: 4.7 Price Level: 2
------------
Missing field/result... skipping.
Address: 2130 E 62nd St, Indianapolis, IN 46220, USA Name: Papa Murphy's Take 'N' Bake Pizza Rating: 4.6 Price Level: 1
------------
Address: 5945 Crawfordsville Rd, Indianapolis, IN 46224, USA Name: Papa Murphy's Take 'N' Bake Pizza Rating: 4.3 Price Level: 1
------------
Address: 3291 Truxel Rd, Sacramento, CA 95833, USA Name: Papa Murphy's Take 'N' Bake Pizza Rating: 4.2 Price Level: 1
------------
Missing field/result... skipping.
Address: 205 W Blackstock Rd, Spartanburg, SC 29301, USA Name: Auntie Anne's Pretzels Rating: 3.4 Price Level: 1
------------
Missing field/result... skipping.
Address: 7875 Montgomery Rd, Cincinnati, OH 45236, USA Name: Sbarro Rating: 4 Price Level: 1
------------
Address: 7875 Montgomery Rd, Cincinnati, OH 45236, USA Name: Maggiano's Little Italy Rating: 4.6 Price Level: 2
------------
Address: 7875 Montgomery Rd, Cincinnati, OH 45236, USA Name: The Cheesecake Factory Rating: 4.1 Price Level: 2
------------
Missing field/result... skipping.
Address: 55 Covert Ave, Floral Park, NY 11001, USA Name: V.I. Pizza Rating: 4.6 Price Level: 1
------------
Address: 318 Flatbush Ave, Brooklyn, NY 11238, USA Name: Antonio's Rating: 4.5 Price Level: 2
------------
Address: 1050 Elden St, Herndon, VA 20170, USA Name: Godavari Herndon Rating: 3.6 Price Level: 2
------------
Address: 468 Nutt Rd, Phoenixville, PA 19460, USA Name: T.D. Alfredo's Pizzeria Rating: 4.1 Price Level: 1
------------
Address: 14550 Pipeline Ave, Chino, CA 91710, USA Name: Chino Hills Pizza Company Rating: 4.5 Price Level: 2
------------
Address: 844 Scarsdale Ave, Scarsdale, NY 10583, USA Name: Scarsdale Pizza Station Rating: 4.1 Price Level: 2
------------
Address: 3221 Adventureland Dr, Altoona, IA 50009, USA Name: Bigfoot Bacon and Brew Rating: 4.1 Price Level: 2
------------
Address: 3221 Adventureland Dr, Altoona, IA 50009, USA Name: Pizza Hut Rating: 2.4 Price Level: 1
------------
Address: 27093 Bagley Rd, Olmsted Falls, OH 44138, USA Name: Uncle Al's Pizza Rating: 4 Price Level: 2
------------
Address: 86 S Main St, New Hope, PA 18938, USA Name: Spatola's Pizza Rating: 4.4 Price Level: 1
------------
Address: 1408 W 49th St, Hialeah, FL 33012, USA Name: Dipiazza Pizzeria Rating: 4.5 Price Level: 2
------------
Address: 4226 Calumet Ave, Hammond, IN 46320, USA Name: Aurelio's Pizza Rating: 4.2 Price Level: 2
------------
Address: 876 Connetquot Ave, Islip Terrace, NY 11752, USA Name: Mary's Pizza and Pasta Rating: 4.5 Price Level: 2
------------
Missing field/result... skipping.
Address: 3668 Lake Tahoe Blvd, South Lake Tahoe, CA 96150, USA Name: Goodfellas Pizza Rating: 3.7 Price Level: 2
------------
Address: 3668 Lake Tahoe Blvd, South Lake Tahoe, CA 96150, USA Name: KFC Rating: 3.8 Price Level: 1
------------
Address: 2955 Cochran St, Simi Valley, CA 93065, USA Name: Eggs N Things Rating: 4.5 Price Level: 2
------------
Address: 3026 W Montrose Ave, Chicago, IL 60618, USA Name: Angelo's Wine Bar Rating: 4.4 Price Level: 2
------------
Address: 2104 N Western Ave, Chicago, IL 60647, USA Name: John's Pizzeria Ristorante & Lounge Rating: 4.1 Price Level: 1
------------
Address: 1200 Welsh Rd, North Wales, PA 19454, USA Name: Pho & More Rating: 4.2 Price Level: 1
------------
Missing field/result... skipping.
Address: 3035 NE Kane Dr, Gresham, OR 97030, USA Name: Geno's Grill Rating: 4.1 Price Level: 1
------------
Address: 105 S York St, Elmhurst, IL 60126, USA Name: Pazzi Di Pizza Rating: 4.6 Price Level: 2
------------
Address: 460 N Sepulveda Blvd, El Segundo, CA 90245, USA Name: PizzaRev Rating: 4.3 Price Level: 1
------------
Address: 460 N Sepulveda Blvd, El Segundo, CA 90245, USA Name: Five Guys Rating: 4.4 Price Level: 2
------------
Address: 3231 Powelton Ave, Philadelphia, PA 19104, USA Name: California Pizza Rating: 3.7 Price Level: 1
------------
Address: 3518 6th Ave, Tacoma, WA 98406, USA Name: Farrelli's Pizza, Tacoma Rating: 4.2 Price Level: 2
------------
Address: 1701 E 7th St, Charlotte, NC 28204, USA Name: Hawthorne's New York Pizza and Bar 7th Street Rating: 4.4 Price Level: 2
------------
Address: 5513 Airport Way S, Seattle, WA 98108, USA Name: Stellar Pizza, Ale, & Cocktails Rating: 4.3 Price Level: 2
------------
Missing field/result... skipping.
Missing field/result... skipping.
Address: 14 Elwood St, Frankfort, IL 60423, USA Name: Durbin's Pizza & Catering Rating: 3.7 Price Level: 2
------------
Address: 4930 Dublin Blvd, Dublin, CA 94568, USA Name: Five Guys Rating: 4.2 Price Level: 2
------------
Address: 11608 Conant St, Hamtramck, MI 48212, USA Name: Ali's Pizza & Burgers Rating: 4.8 Price Level: 1
------------
Address: 5315 Greenville Ave, Dallas, TX 75206, USA Name: Shuck N Jive Rating: 4 Price Level: 2
------------
Missing field/result... skipping.
Address: 1014 N Ocean Dr, Hollywood, FL 33019, USA Name: Capone's Flicker Lite Rating: 4 Price Level: 2
------------
Address: 9719 Mills Rd, Houston, TX 77070, USA Name: Brothers Pizza Rating: 4.5 Price Level: 1
------------
Address: 13317 NE 175th St, Woodinville, WA 98072, USA Name: The Pizza Coop & Ale House Rating: 4.5 Price Level: 2
------------
Address: 13317 NE 175th St, Woodinville, WA 98072, USA Name: Racha Thai Cuisine Rating: 3.9 Price Level: 2
------------
Address: 615 E Grand River Ave, East Lansing, MI 48823, USA Name: Cottage Inn Pizza - East Lansing Rating: 4.2 Price Level: 1
------------
Address: 8358 Point Meadows Dr, Jacksonville, FL 32256, USA Name: Boiling Crawfish Baymeadows Rating: 4.4 Price Level: 2
------------
Address: 8358 Point Meadows Dr, Jacksonville, FL 32256, USA Name: Maple Street Biscuit Company- Point Meadows Rating: 4.7 Price Level: 2
------------
Address: 920 N High St, Columbus, OH 43201, USA Name: Donatos Pizza Rating: 4 Price Level: 2
------------
Address: 3233 Powelton Ave, Philadelphia, PA 19104, USA Name: El Taco Rating: 4.6 Price Level: 1
------------
Address: 522 E Atlantic Ave, Delray Beach, FL 33483, USA Name: Scuola Vecchia Pizza e Vino Rating: 4.5 Price Level: 2
------------
Address: 6415 Burden Blvd, Pasco, WA 99301, USA Name: Rocco's Pizza Rating: 4.4 Price Level: 2
------------
Missing field/result... skipping.
Address: 4804 Tieton Dr, Yakima, WA 98908, USA Name: Abby's Legendary Pizza Rating: 4.1 Price Level: 2
------------
Address: 1604 W Grandview Blvd, Erie, PA 16509, USA Name: Skippereno's Italian Restaurant Rating: 4.4 Price Level: 1
------------
Address: 544 E Broadway Blvd, Jefferson City, TN 37760, USA Name: Gondolier Rating: 4.3 Price Level: 2
------------
Address: 2000 Mirror Lake Blvd, Villa Rica, GA 30180, USA Name: Sumo Japanese Steakhouse Rating: 4.3 Price Level: 2
------------
Address: 2000 Mirror Lake Blvd, Villa Rica, GA 30180, USA Name: Johnny's New York Style Pizza Rating: 4.3 Price Level: 2
------------
Address: 2000 Mirror Lake Blvd, Villa Rica, GA 30180, USA Name: Subway Rating: 4.4 Price Level: 1
------------

Address: 4880 Lower Roswell Rd, Marietta, GA 30068, USA Name: Taco Bell Rating: 3.7 Price Level: 1
------------
Address: 2553 S Colorado Blvd, Denver, CO 80222, USA Name: Subway Rating: 4.5 Price Level: 1
------------
Address: 4900 Dodge St, Omaha, NE 68132, USA Name: Varsity Sports Cafe and Roman Coin Pizza - Dundee Rating: 4 Price Level: 2
------------
Address: 105 E Main St, Bartow, FL 33830, USA Name: Palace Pizza Rating: 4.7 Price Level: 1
------------
Address: 4120 Woodward Ave, Detroit, MI 48201, USA Name: Sgt. Pepperoni's Pizzeria & Deli Rating: 4.1 Price Level: 1
------------
Missing field/result... skipping.
Address: 301 Main St, Huntington Beach, CA 92648, USA Name: Legend's Sports Bar Rating: 4.2 Price Level: 2
------------
Address: 1700 W 11th Ave, Eugene, OR 97402, USA Name: Papa's Pizza West 11th Rating: 4.1 Price Level: 2
------------
Address: 111 S Broadway, Rochester, MN 55904, USA Name: zpizza Rating: 3.6 Price Level: 2
------------
Address: 1230 Sunset Blvd, Rocklin, CA 95765, USA Name: Sizzle Mongolian BBQ Rating: 4.5 Price Level: 1
------------
Address: Chandler Festival, 2580 W Chandler Blvd, Chandler, AZ 85224, USA Name: NYPD Pizza Rating: 4 Price Level: 2
------------
Address: 122 W 8th St, Rolla, MO 65401, USA Name: Alex's Pizza Palace Rating: 4.5 Price Level: 2
------------
Address: 1925 Madison Square Blvd, La Vergne, TN 37086, USA Name: Sir Pizza Rating: 4.3 Price Level: 2
------------
Address: 117 S Main St, Rochester, MI 48307, USA Name: Georgio's Pizza & Pasta Rating: 4.4 Price Level: 1
------------
Address: 15603 N 59th Ave, Glendale, AZ 85306, USA Name: Ray's Pizza Rating: 4.4 Price Level: 2
------------
Missing field/result... skipping.
Address: 17020 Condit Rd, Morgan Hill, CA 95037, USA Name: Subway Rating: 3.8 Price Level: 1
------------
Address: 738 SW Gage Blvd, Topeka, KS 66606, USA Name: Pizzeria Vias Family Dining Rating: 4.1 Price Level: 2
------------
Address: 206 E End Blvd S, Marshall, TX 75670, USA Name: Gucci's Pizza Rating: 4.4 Price Level: 2
------------
Address: 395 Shanley St, Buffalo, NY 14206, USA Name: Partner's Pizzeria & Bar Rating: 3.4 Price Level: 2
------------
Address: 4312 Ridge Rd, Cleveland, OH 44144, USA Name: Geppetto's Rating: 4.1 Price Level: 1
------------
Address: 717 Sterlington Hwy, Farmerville, LA 71241, USA Name: Johnny's Pizza House Rating: 4.2 Price Level: 2
------------
Address: 1577 Coburg Rd, Eugene, OR 97401, USA Name: Papa's Pizza Parlor Rating: 4.1 Price Level: 2
------------
Address: 203 N Main St, Bowling Green, OH 43402, USA Name: Pisanello's Pizza Rating: 4.4 Price Level: 1
------------
Address: 117 S Main St, Columbia, IL 62236, USA Name: Joe Boccardi's Rating: 4.5 Price Level: 2
------------
Address: 928 S Mayflower Rd, South Bend, IN 46619, USA Name: Papa John's Pizza Rating: 3.5 Price Level: 1
------------
Missing field/result... skipping.
Address: 615 Erie Blvd W, Rome, NY 13440, USA Name: Dicastro's Brick Oven Pizza Rating: 4.4 Price Level: 2
------------
Address: 15720 Main St NE, Duvall, WA 98019, USA Name: Red Pepper Pizzeria & Pasta Duvall Rating: 4.4 Price Level: 2
------------
Missing field/result... skipping.
Missing field/result... skipping.
Address: 1976 Echo Hollow Rd, Eugene, OR 97402, USA Name: Abby's Legendary Pizza Rating: 3.9 Price Level: 2
------------
Address: 3337 Fulton St, Brooklyn, NY 11208, USA Name: Mike's Pizza Rating: 4.3 Price Level: 2
------------
Address: 8706 W Golf Rd, Niles, IL 60714, USA Name: Nancy's Pizza & Restaurant Rating: 4.3 Price Level: 2
------------
Address: 5821 E Charleston Blvd, Las Vegas, NV 89142, USA Name: Putters Bar & Grill - Charleston Rating: 4 Price Level: 1
------------
Address: 5821 E Charleston Blvd, Las Vegas, NV 89142, USA Name: Angelina's Pizza Rating: 3.8 Price Level: 1
------------
Address: 59 Marble Ave, Pleasantville, NY 10570, USA Name: Wood & Fire Rating: 4.4 Price Level: 2
------------
Address: 1126 E Lovejoy St, Buffalo, NY 14206, USA Name: Carbone's Pizzeria Rating: 4 Price Level: 1
------------

In [28]:
# Viewing the new data
restaurant_transformed.head()

,id,address,zip_code,latitude,longitude,city,state,categories,rating,name,price_level
0,AVwdRGa9_7pvs4fz4E3K,3703 Paxton Ave,45209,39.144883,-84.432685,Cincinnati,OH,"Restaurant,Pizza Place,Restaurants",3.7,Mio's Pizzeria,2
1,AVwchRVZkufWRAb5wDIV,4061 28th St SE,49512,42.912878,-85.566939,Grand Rapids,MI,"Restaurant,Italian Restaurant,Pizza Place,Ital...",4.4,Buddy's Pizza,2
2,AVwc7s1wIN2L1WUfqehD,146 N Glendora Ave,91741,34.137502,-117.865331,Glendora,CA,"Pizza,Restaurant,Pizza Place",,,
3,AVwc2xOokufWRAb5zu4_,965 N Resler Dr,79912,31.862409,-106.558431,El Paso,TX,"Restaurant,Pizza Place,Restaurants",3.4,Little Caesars Pizza,1
4,AVwdixeC_7pvs4fz67Pw,1584 N Woodland Blvd,32720,29.046703,-81.303817,DeLand,FL,"Restaurant,Pizza Place,Restaurants",,,

**Writing this new restaurant data to a csv**

In [29]:
# Writing the new restaurant data to Resources folder
restaurant_transformed.to_csv("../Resources/restaurant.csv",index=None)
restaurant_transformed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 980 entries, 0 to 979
Data columns (total 11 columns):
id             980 non-null object
address        980 non-null object
zip_code       980 non-null object
latitude       980 non-null float64
longitude      980 non-null float64
city           980 non-null object
state          980 non-null object
categories     980 non-null object
rating         980 non-null object
name           980 non-null object
price_level    980 non-null object
dtypes: float64(2), object(9)
memory usage: 84.3+ KB

**Replace all blank values with np.nan and fixing Nan values**

In [30]:
# Viewing the null data
print(f" Total null values {restaurant_transformed.isnull().sum()}")
restaurant_transformed = restaurant_transformed.replace('', np.nan, regex=True)
restaurant_transformed.info()

 Total null values id             0
address        0
zip_code       0
latitude       0
longitude      0
city           0
state          0
categories     0
rating         0
name           0
price_level    0
dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 980 entries, 0 to 979
Data columns (total 11 columns):
id             980 non-null object
address        980 non-null object
zip_code       980 non-null object
latitude       980 non-null float64
longitude      980 non-null float64
city           980 non-null object
state          980 non-null object
categories     980 non-null object
rating         503 non-null float64
name           503 non-null object
price_level    503 non-null float64
dtypes: float64(4), object(7)
memory usage: 84.3+ KB

In [31]:
# Viewing the null data
# Replacing all null values with -NA- for restaurant names

restaurant_transformed['name'] = restaurant_transformed['name'].fillna('-NA-')
# Replacing all null values with average of rating for restaurant rating
restaurant_transformed['rating'] = restaurant_transformed['rating'].fillna(round(restaurant_transformed['rating'].mean(),1))

# Replacing all null values with average of price_level for restaurant price level
restaurant_transformed['price_level'] = restaurant_transformed['price_level'].fillna(round(restaurant_transformed['price_level'].mean(),1))

In [32]:
# Verifying if Nan are replaced
print(restaurant_transformed.info())
restaurant_transformed.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 980 entries, 0 to 979
Data columns (total 11 columns):
id             980 non-null object
address        980 non-null object
zip_code       980 non-null object
latitude       980 non-null float64
longitude      980 non-null float64
city           980 non-null object
state          980 non-null object
categories     980 non-null object
rating         980 non-null float64
name           980 non-null object
price_level    980 non-null float64
dtypes: float64(4), object(7)
memory usage: 84.3+ KB
None

,id,address,zip_code,latitude,longitude,city,state,categories,rating,name,price_level
0,AVwdRGa9_7pvs4fz4E3K,3703 Paxton Ave,45209,39.144883,-84.432685,Cincinnati,OH,"Restaurant,Pizza Place,Restaurants",3.7,Mio's Pizzeria,2.0
1,AVwchRVZkufWRAb5wDIV,4061 28th St SE,49512,42.912878,-85.566939,Grand Rapids,MI,"Restaurant,Italian Restaurant,Pizza Place,Ital...",4.4,Buddy's Pizza,2.0
2,AVwc7s1wIN2L1WUfqehD,146 N Glendora Ave,91741,34.137502,-117.865331,Glendora,CA,"Pizza,Restaurant,Pizza Place",4.2,-NA-,1.6
3,AVwc2xOokufWRAb5zu4_,965 N Resler Dr,79912,31.862409,-106.558431,El Paso,TX,"Restaurant,Pizza Place,Restaurants",3.4,Little Caesars Pizza,1.0
4,AVwdixeC_7pvs4fz67Pw,1584 N Woodland Blvd,32720,29.046703,-81.303817,DeLand,FL,"Restaurant,Pizza Place,Restaurants",4.2,-NA-,1.6

### Data Transforming of Pizza Data

In [33]:
# Creating a pizza table keep unique records of restaurant id and menus.name
pizza_transformed = pizza_data_transformed[['id', 'menus.name', 'menus.description', 'menus.amountMax', 'menus.amountMin', 'menus.dateSeen']].drop_duplicates(['id','menus.name'],keep='last').reset_index(drop=True)

In [34]:
# Renaming the columns for pizza
pizza_transformed = pizza_transformed.rename(columns={'id':'restaurant_id', 'menus.name':'pizza_name' \
                              , 'menus.description':'pizza_description', 'menus.amountMax': 'maximum_amount',
                              'menus.amountMin':'minimum_amount', 'menus.dateSeen' : 'pizza_dates'})
pizza_transformed.head()

,restaurant_id,pizza_name,pizza_description,maximum_amount,minimum_amount,pizza_dates
0,AVwdRGa9_7pvs4fz4E3K,Pizza Blanca,A saucelessampcomma double cheese pizza with a...,6.49,6.49,"2018-04-10T07:58:34.585Z,2018-04-21T05:43:21.4..."
1,AVwchRVZkufWRAb5wDIV,Prosciutto Arugula Pizza,Prosciutto arugula and shaved parmesan drizzle...,15.92,15.92,"2018-04-26T21:25:35.237Z,2018-06-05T01:35:19.2..."
2,AVwc7s1wIN2L1WUfqehD,Three Cheese Pizza,Topped with mozzarellaampcomma feta and ricotta,11.50,11.50,2018-05-11T22:26:10.666Z
3,AVwc7s1wIN2L1WUfqehD,Pizza Sandwich,Includes 1 toppingampcomma additional toppings...,7.00,7.00,2018-05-11T22:26:10.666Z
4,AVwc2xOokufWRAb5zu4_,Hotnready Large Pizza,Pepperoni or cheese original round no limit ca...,5.00,5.00,"2018-05-14T18:17:05.194Z,2018-04-02T12:17:58.5..."

In [35]:
# Writing pizza data as a CSV file.
pizza_data_transformed.to_csv('../Resources/pizza.csv')

### Collecting State wise Best Restaurants Data Across USA.

In [36]:
# Extracting statewise best pizza stores data using splinter and bs4
best_pizza_stores_original = scrape_data.scrape_best_pizza()

Alabama---Bottega CafÃ©---Birmingham
Alaska---Mooseâ€™s Tooth Pub and Pizzeria---Anchorage
Arizona---Pizzeria Bianco---Phoenix
Arkansas---Wood Stone Craft Pizza & Bar---Fayetteville
California---Tonyâ€™s Pizza Napoletana---San Francisco
Colorado---Pizzeria Locale---Denver
Connecticut---Frank Pepe Pizzeria Napoletana---New Haven
Delaware---The Wood Fired Pizza Shop---Newark
Florida---Scuola Vecchia Pizza e Vino---Delray Beach
Georgia---O4W Pizza---Duluth
Hawaii---J.J. Dolanâ€™s---Honolulu
Idaho---Guidoâ€™s Original New York Style Pizza---Boise
Illinois---Pequodâ€™s---Chicago
Indiana---Diavola---Indianapolis
Iowa---Gusto Pizza Co.---Des Moines
Kansas---AJâ€™s NY Pizzeria---Topeka
Kentucky---Garage Bar---Louisville
Louisiana---Pizza Domenica---New Orleans
Maine---Micucci Grocery Store---Portland
Maryland---Inferno---Darnestown
Massachusetts---Area Four---Cambridge
Michigan---Buddyâ€™s Pizza---Detroit
Minnesota---Pizzeria Lola---Minneapolis
Mississippi---TriBecca Allie CafÃ©---Sardis
Missouri---Imoâ€™s---St. Louis
Montana---Eugeneâ€™s---Glasgow
Nebraska---Zioâ€™s---Omaha
Nevada---Pizza Rock---Las Vegas
New Hampshire---Tilton House of Pizza---Tilton
New Jersey---Razza---Jersey City
New Mexico---Il Vicino Wood Oven Pizza---Albuquerque
New York---Johnâ€™s of Bleecker Street---New York City
North Carolina---Pizzeria Omaggio---Charlotte
North Dakota---Blackbird Woodfire---Fargo
Ohio---Crust---Cleveland
Oklahoma---Empire Slice House---Oklahoma City
Oregon---Kenâ€™s Artisan Pizza---Portland
Pennsylvania---Pizzeria Vetri---Philadelphia
Rhode Island---Al Forno---Providence
South Carolina---Monza Pizza---Charleston
South Dakota---Thatzza Pizza---Aberdeen
Tennessee---Hog & Hominy---Memphis
Texas---Home Slice Pizza---Austin
Utah---Settebello---Salt Lake City
Vermont---Pizzeria Verita---Burlington
Virginia---Pupatella Neapolitan Pizza---Arlington
Washington---Serious Pie---Seattle
West Virginia---Lolaâ€™s---Charleston
Wisconsin---Zaffiroâ€™s Pizza---Milwaukee
Wyoming---Bella Fuoco Wood Fired Pizza---Cheyenne

In [37]:
# Viewing best pizza stores data
best_pizza_stores_original.head()

                  restaurant_name           city       state
0                    Bottega CafÃ©     Birmingham     Alabama
1  Mooseâ€™s Tooth Pub and Pizzeria      Anchorage      Alaska
2                 Pizzeria Bianco        Phoenix     Arizona
3    Wood Stone Craft Pizza & Bar   Fayetteville    Arkansas
4         Tonyâ€™s Pizza Napoletana  San Francisco  California

In [38]:
# Writing the dataframe to a csv
best_pizza_stores_original.to_csv("../Resources/best_pizza_stores.csv", index=None)

**Gathering additional info like rating, price_level from Google API**

In [39]:
best_pizza_stores_transformed = get_api_data.get_best_from_api()

Address: 2240 Highland Ave, Birmingham, AL 35205, USA Name: Bottega Cafe Rating: 4.7 Price Level: 3
------------
Address: 3300 Old Seward Hwy, Anchorage, AK 99503, USA Name: Moose's Tooth Pub & Pizzeria Rating: 4.7 Price Level: 2
------------
Address: 623 E Adams St, Phoenix, AZ 85004, USA Name: Pizzeria Bianco Rating: 4.4 Price Level: 2
------------
Address: 3619 Mall Ave, Fayetteville, AR 72703, USA Name: Wood Stone Craft Pizza Uptown Rating: 4.4 Price Level: 2
------------
Address: 1570 Stockton St, San Francisco, CA 94133, USA Name: Tony's Pizza Napoletana Rating: 4.5 Price Level: 2
------------
Address: 550 Broadway, Denver, CO 80203, USA Name: Pizzeria Locale Rating: 4.6 Price Level: 1
------------
Address: 157 Wooster St, New Haven, CT 06511, USA Name: Frank Pepe Pizzeria Napoletana Rating: 4.6 Price Level: 2
------------
Address: 140 E Cleveland Ave, Newark, DE 19711, USA Name: The Wood Fired Pizza Shop Rating: 4.8 Price Level: 2
------------
Address: 522 E Atlantic Ave, Delray Beach, FL 33483, USA Name: Scuola Vecchia Pizza e Vino Rating: 4.5 Price Level: 2
------------
Address: 3117 Main St, Duluth, GA 30096, USA Name: O4W Pizza Rating: 4.5 Price Level: 2
------------
Address: 235 N 5th St, Boise, ID 83702, USA Name: Guido's Original New York Style Pizza Rating: 4.7 Price Level: 1
------------
Address: 1134 E 54th St, Indianapolis, IN 46220, USA Name: Diavola Rating: 4.6 Price Level: 2
------------
Address: 1905 Ingersoll Ave, Des Moines, IA 50309, USA Name: Gusto Pizza Co. Rating: 4.4 Price Level: 2
------------
Address: 1930 SW Westport Dr, Topeka, KS 66604, USA Name: AJ's NY Pizzeria Rating: 4.6 Price Level: 2
------------
Address: 700 E Market St, Louisville, KY 40202, USA Name: Garage Bar Rating: 4.3 Price Level: 2
------------
Address: 4933 Magazine St, New Orleans, LA 70115, USA Name: PIZZA domenica Rating: 4.6 Price Level: 2
------------
Address: 86 Middle St, Portland, ME 04101, USA Name: Eventide Oyster Co. Rating: 4.6 Price Level: 3
------------
Address: 12207 Darnestown Rd, Darnestown, MD 20878, USA Name: Inferno Pizzeria Napoletana Rating: 4.5 Price Level: 2
------------
Address: 500 Technology Square, Cambridge, MA 02139, USA Name: Area Four Rating: 4.5 Price Level: 2
------------
Address: 17125 Conant St, Detroit, MI 48212, USA Name: Buddy's Pizza Rating: 4.5 Price Level: 2
------------
Address: 5557 Xerxes Ave S, Minneapolis, MN 55410, USA Name: Pizzeria Lola Rating: 4.7 Price Level: 2
------------
Address: 216 S Main St, Sardis, MS 38666, USA Name: TriBecca Allie Cafe Rating: 4.7 Price Level: 2
------------
Address: 201 N 3rd St, Las Vegas, NV 89101, USA Name: Pizza Rock Rating: 4.5 Price Level: 2
------------
Address: 298 Main St, Tilton, NH 03276, USA Name: Tilton House of Pizza Rating: 4.8 Price Level: 2
------------
Address: 275 Grove St, Jersey City, NJ 07302, USA Name: Razza Rating: 4.5 Price Level: 2
------------
Address: 3403 Central Ave NE, Albuquerque, NM 87106, USA Name: Il Vicino Wood Oven Pizza - Nob Hill Rating: 4.6 Price Level: 2
------------
Address: 278 Bleecker St, New York, NY 10014, USA Name: John's of Bleecker St. Rating: 4.6 Price Level: 2
------------
Address: 1055 Metropolitan Ave #130, Charlotte, NC 28204, USA Name: Pizzeria Omaggio Rating: 4.7 Price Level: 2
------------
Address: 206 Broadway N, Fargo, ND 58102, USA Name: Blackbird Woodfire Rating: 4.6 Price Level: 2
------------
Address: 2258 Professor Ave, Cleveland, OH 44113, USA Name: Crust Rating: 4.5 Price Level: 1
------------
Missing field/result... skipping.
Address: 304 SE 28th Ave, Portland, OR 97214, USA Name: Ken's Artisan Pizza Rating: 4.6 Price Level: 2
------------
Address: 1939 Callowhill St, Philadelphia, PA 19130, USA Name: Pizzeria Vetri Rating: 4.5 Price Level: 2
------------
Address: 577 S Water St, Providence, RI 02903, USA Name: Al Forno Restaurant Rating: 4.6 Price Level: 2
------------
Address: 20 6th Ave SW Ste 4, Aberdeen, SD 57401, USA Name: Thatzza Pizza Rating: 4.6 Price Level: 1
------------
Address: 707 W Brookhaven Cir, Memphis, TN 38117, USA Name: Hog & Hominy Rating: 4.5 Price Level: 2
------------
Address: 1415 S Congress Ave, Austin, TX 78704, USA Name: Home Slice Pizza Rating: 4.7 Price Level: 2
------------
Address: 156 St Paul St, Burlington, VT 05401, USA Name: Pizzeria VeritÃ  Rating: 4.7 Price Level: 3
------------
Address: 5104 Wilson Blvd, Arlington, VA 22205, USA Name: Pupatella Rating: 4.6 Price Level: 2
------------
Address: 401 Westlake Ave N, Seattle, WA 98109, USA Name: Serious Pie & Biscuit Rating: 4.4 Price Level: 2
------------
Address: 1724 N Farwell Ave, Milwaukee, WI 53202, USA Name: Zaffiro's Pizza & Bar Rating: 4.5 Price Level: 2
------------
Address: 2115 Warren Ave, Cheyenne, WY 82001, USA Name: Bella Fuoco Wood Fired Pizza Rating: 4.6 Price Level: 2
------------

**Replacing all blank values with np.nan and fixing Nan values**

In [40]:
# Viewing the updated restaurant data.
print(f" Total null values  {best_pizza_stores_transformed.isnull().sum()}")

best_pizza_stores_transformed = best_pizza_stores_transformed.replace('', np.nan, regex=True)

best_pizza_stores_transformed.info()

 Total null values  restaurant_name    0
city               0
state              0
rating             0
address            0
price_level        0
zip_code           0
dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 7 columns):
restaurant_name    50 non-null object
city               50 non-null object
state              50 non-null object
rating             41 non-null float64
address            41 non-null object
price_level        41 non-null float64
zip_code           41 non-null object
dtypes: float64(2), object(5)
memory usage: 2.9+ KB

In [41]:
# Fixing NaN values
# Replacing all null values with -NA- for restaurant names
best_pizza_stores_transformed['address'] = best_pizza_stores_transformed['address'].fillna('-NA-')
# Replacing all null values with average of rating for restaurant rating
best_pizza_stores_transformed['rating'] = best_pizza_stores_transformed['rating'].fillna(round(best_pizza_stores_transformed['rating'].mean(),1))
# Replacing all null values with average of price_level for restaurant price level
best_pizza_stores_transformed['price_level'] = best_pizza_stores_transformed['price_level'].fillna(round(best_pizza_stores_transformed['price_level'].mean(),1))

In [42]:
# Viewing the new data.
best_pizza_stores_transformed.head()

,restaurant_name,city,state,rating,address,price_level,zip_code
0,Bottega CafÃ©,Birmingham,Alabama,4.7,2240 Highland Ave,3.0,35205
1,Mooseâ€™s Tooth Pub and Pizzeria,Anchorage,Alaska,4.7,3300 Old Seward Hwy,2.0,99503
2,Pizzeria Bianco,Phoenix,Arizona,4.4,623 E Adams St,2.0,85004
3,Wood Stone Craft Pizza & Bar,Fayetteville,Arkansas,4.4,3619 Mall Ave,2.0,72703
4,Tonyâ€™s Pizza Napoletana,San Francisco,California,4.5,1570 Stockton St,2.0,94133

In [43]:
#  Writing to transformed data to csv.
best_pizza_stores_transformed.to_csv("../Resources/best_pizza_stores.csv", index=None)

### Create database connection

**Connect to local database**

In [44]:
# DATABASE_URI is in the format postgresql://<username>:<password>@localhost:5432/pizza_db
engine = create_engine(DATABASE_URI)

**Check for tables**

In [45]:
engine.table_names()

['restaurant', 'pizza', 'best_pizza_restaurants']

### Use pandas to load csv converted DataFrame into database

**Loading restaurant data into postgreSQL table**

In [46]:
restaurant_transformed.to_sql(name='restaurant', if_exists='append', con=engine, index=False)

**Loading pizza data into postgreSQL table**

In [47]:
pizza_transformed.to_sql(name='pizza', if_exists='append', con=engine, index=False)

**Loading best_pizza_restaurants data into postgreSQL table**

In [48]:
best_pizza_stores_transformed.to_sql(name='best_pizza_restaurants', if_exists='append', con=engine, index=False)